<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../common.css">
    <link rel="stylesheet" href="./index.css">
</head>
<body>
<!-- SHOP CARD -->
<div class="--shop--card" >
    <!-- CARD TITLE -->
<div class="--shop--card-title">
    <img src="../../Asset/image/blank-profile.jpg" alt="">
    <span> @RTFKT</span>
</div>
<!--  CARD VID -->
<div class="--shop--card-vid">
    <video  autoplay muted loop plays-inline> <source src="../../Asset/Video/Card1.mp4" type="video/mp4" /> </video>
</div>
<!-- CARD FOOTER -->
<div class="--shop--card-footer">
    <div class="--shop--card-footer-title"> RTFKT x Nike Dunk Genesis</div>
    <div class="--shop--card-footer-description">1/20000</div>
</div>
</div>
<!-- FINE CARD -->
   
</body>
</html>