@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("//db.onlinewebfonts.com/c/ebaf90e665954316d40b79a1c7c942c0?family=TT+Alientz+Grotesque");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("//db.onlinewebfonts.com/c/ebaf90e665954316d40b79a1c7c942c0?family=TT+Alientz+Grotesque");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("//db.onlinewebfonts.com/c/ebaf90e665954316d40b79a1c7c942c0?family=TT+Alientz+Grotesque");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("//db.onlinewebfonts.com/c/ebaf90e665954316d40b79a1c7c942c0?family=TT+Alientz+Grotesque");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("//db.onlinewebfonts.com/c/ebaf90e665954316d40b79a1c7c942c0?family=TT+Alientz+Grotesque");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("//db.onlinewebfonts.com/c/ebaf90e665954316d40b79a1c7c942c0?family=TT+Alientz+Grotesque");
@font-face {
  font-family: "TT Alientz Grotesque";
  src: url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.eot"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.woff") format("woff"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.svg#TT Alientz Grotesque") format("svg");
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

@font-face {
  font-family: "TT Alientz Grotesque";
  src: url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.eot"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.woff") format("woff"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.svg#TT Alientz Grotesque") format("svg");
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

.main__section__left__buttons--darker, .main__section__left__buttons--lighter {
  font-family: "Montserrat";
  font-weight: 800;
  text-transform: uppercase;
  background-color: #5733f5;
  color: white;
  border: none;
  border-radius: 12px;
  padding: 0.95rem 1.25rem;
  margin-top: 1rem;
  margin-right: 1rem;
}
.main__section__left__buttons--darker:hover, .main__section__left__buttons--lighter:hover {
  background-color: #5733f4;
  cursor: pointer;
}

.main__section__left__buttons--lighter {
  background-color: transparent;
  border: 1px solid #6c757d;
  color: white;
}
.main__section__left__buttons--lighter:hover {
  color: black;
  background-color: white;
  border-color: white;
}

@font-face {
  font-family: "TT Alientz Grotesque";
  src: url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.eot"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.woff") format("woff"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.svg#TT Alientz Grotesque") format("svg");
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

body {
  background-color: black;
}

.button--filter {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: 1.5rem;
  border: 1px solid #ced4da;
  color: white;
  padding: 7px 15px;
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 600;
  text-transform: capitalize;
  gap: 8px;
}
.button--filter > img {
  display: block;
  width: 1.5rem;
  border-radius: 50%;
}
.button--filter:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

@font-face {
  font-family: "TT Alientz Grotesque";
  src: url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.eot"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.woff") format("woff"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.svg#TT Alientz Grotesque") format("svg");
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

.button--hide {
  background-color: transparent;
  white-space: nowrap;
  border-radius: 1.5rem;
  border: 1px solid #ced4da;
  color: white;
  padding: 7px 15px;
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}
.button--hide:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

@font-face {
  font-family: "TT Alientz Grotesque";
  src: url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.eot"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.woff") format("woff"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.svg#TT Alientz Grotesque") format("svg");
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

.main__section__left__buttons--darker, .main__section__left__buttons--lighter {
  font-family: "Montserrat";
  font-weight: 800;
  text-transform: uppercase;
  background-color: #5733f5;
  color: white;
  border: none;
  border-radius: 12px;
  padding: 0.95rem 1.25rem;
  margin-top: 1rem;
  margin-right: 1rem;
}
.main__section__left__buttons--darker:hover, .main__section__left__buttons--lighter:hover {
  background-color: #5733f4;
  cursor: pointer;
}

.main__section__left__buttons--lighter {
  background-color: transparent;
  border: 1px solid #6c757d;
  color: white;
}
.main__section__left__buttons--lighter:hover {
  color: black;
  background-color: white;
  border-color: white;
}

@font-face {
  font-family: "TT Alientz Grotesque";
  src: url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.eot"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.woff") format("woff"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.svg#TT Alientz Grotesque") format("svg");
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

body {
  background-color: black;
}

.main__section {
  display: flex;
  justify-content: space-between;
  width: 75%;
  height: 100%;
  max-height: 490px;
  margin: 100px auto;
}
.main__section__left {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: white;
}
.main__section__left__title {
  display: flex;
  flex-direction: column;
  line-height: 4rem;
}
.main__section__left__title--up {
  color: #5733f4;
  font-family: "Montserrat";
  font-weight: 700;
  line-height: 1rem;
}
.main__section__left__title > h1 {
  display: flex;
  flex-direction: column;
  font-family: "TT Alientz Grotesque";
}
.main__section__left__title > h1 span {
  font-size: 4rem;
  font-weight: 900;
}
.main__section__left__title--main {
  text-transform: uppercase;
}
.main__section__left__title--sub {
  font-size: 4rem;
  font-weight: 600;
  font-family: "Montserrat";
  line-height: 1rem;
  margin-bottom: 30px;
}
.main__section__left__countdown {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: "Montserrat";
}
.main__section__left__countdown--text {
  font-weight: 600;
  line-height: 1.2rem;
}
.main__section__left__countdown--items {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.main__section__left__countdown--items-slash {
  height: 2rem;
  background-color: #6c757d;
  width: 1px;
}
.main__section__left__countdown--items-item-number {
  font-size: 1.3rem;
  font-weight: 600;
}
.main__section__left__countdown--items-item-text {
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1.2rem;
  color: #6c757d;
}
.main__section__right {
  height: 100%;
  max-height: 490px;
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}
.main__section__right__card {
  max-width: 380px;
  color: white;
  font-family: "Montserrat";
  display: flex;
  height: 100%;
  max-height: 500px;
  flex-direction: column;
  background-color: #272932;
  border-radius: 1rem;
}
.main__section__right__cardhover ~ .main__section__right__card--up-video {
  -webkit-box-shadow: 0px 84px 27px -7px #4f64ec;
  box-shadow: 0px 84px 27px -7px #4f64ec;
}
.main__section__right__card--up-video {
  width: 100%;
  max-width: 406px;
}
.main__section__right__card--up-video > video {
  width: 100%;
  border-radius: 1rem;
}
.main__section__right__card--up-video > video:hover {
  -webkit-box-shadow: 0px 84px 27px 7px #0B325E;
  box-shadow: 0px 84px 27px 7px #0B325E;
  cursor: pointer;
}
.main__section__right__card--up-text {
  color: black;
  font-weight: 500;
  white-space: nowrap;
  width: 40%;
  padding-inline: 20px;
  padding-block: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat";
  background-color: white;
  position: relative;
  border-radius: 1rem;
  top: -50;
  left: 10;
  -webkit-box-shadow: 2px 5px 16px 0px #0B325E, -2px 2px 2px 5px rgba(0, 0, 0, 0);
  box-shadow: 2px 5px 16px 0px #0B325E, -2px 2px 2px 5px rgba(0, 0, 0, 0);
}
.main__section__right__card--up-text:hover {
  cursor: pointer;
}
.main__section__right__card--up-text > img {
  width: 2rem;
}
.main__section__right__card--bottom {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  height: 800px !important;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 10px;
  position: relative;
  top: -20;
  gap: 5px;
}

body {
  background-color: #1f2028;
  box-sizing: border-box;
}
body .logo-text {
  font-family: "TT Alientz Grotesque";
  font-size: 2rem;
  color: #f8f9fa;
  display: flex;
  justify-content: center;
}
body .logo-text h2:hover {
  text-decoration: underline #6610f2;
  cursor: pointer;
}
body .logo-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
}
body .design-color-text {
  font-family: "TT Alientz Grotesque";
  font-size: 2rem;
  color: #f8f9fa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .design-color-text h2:hover {
  text-decoration: underline #6610f2;
  cursor: pointer;
}
body .design-color-content img {
  width: 60px;
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}
body .design-component-text {
  font-family: "TT Alientz Grotesque";
  font-size: 2rem;
  color: #f8f9fa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .design-component-text h2:hover {
  text-decoration: underline #6610f2;
  cursor: pointer;
}
bodymain__section__right__card {
  height: 100%;
  max-height: 490px;
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}
bodymain__section__right__cardmain__section__right__card--up-text {
  max-width: 380px;
  color: white;
  font-family: "Montserrat";
  display: flex;
  height: 100%;
  flex-direction: column;
  background-color: #272932;
  border-radius: 1rem;
}
bodymain__section__right__cardmain__section__right__card--up-texthover ~ .main__section__right__card--up-video {
  -webkit-box-shadow: 0px 84px 27px 7px #4f64ec;
  box-shadow: 0px 84px 27px 7px #4f64ec;
}
bodymain__section__right__cardmain__section__right__card--up-text.--up-video {
  width: 100%;
  max-width: 406px;
}
bodymain__section__right__cardmain__section__right__card--up-text.--up-video > video {
  width: 100%;
  border-radius: 1rem;
}
bodymain__section__right__cardmain__section__right__card--up-text.--up-video > video:hover {
  -webkit-box-shadow: 0px 84px 27px 7px #0B325E;
  box-shadow: 0px 84px 27px 7px #0B325E;
  cursor: pointer;
}
bodymain__section__right__cardmain__section__right__card--up-text.--up.main__section__right__card--up-text {
  color: black;
  font-weight: 500;
  white-space: nowrap;
  width: 40%;
  padding-inline: 20px;
  padding-block: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat";
  background-color: white;
  position: relative;
  border-radius: 1rem;
  top: -50;
  left: 10;
  -webkit-box-shadow: 2px 5px 16px 0px #0B325E, -2px 2px 2px 5px rgba(0, 0, 0, 0);
  box-shadow: 2px 5px 16px 0px #0B325E, -2px 2px 2px 5px rgba(0, 0, 0, 0);
}
bodymain__section__right__cardmain__section__right__card--up-text.--up.main__section__right__card--up-text:hover {
  cursor: pointer;
}
bodymain__section__right__cardmain__section__right__card--up-text.--up.main__section__right__card--up-text > img {
  width: 2rem;
}
bodymain__section__right__cardmain__section__right__card--up-text.main__section__right__card--bottom {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  height: 800px !important;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 10px;
  position: relative;
  top: -20;
  gap: 5px;
}

/*# sourceMappingURL=design.css.map */
