@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("//db.onlinewebfonts.com/c/ebaf90e665954316d40b79a1c7c942c0?family=TT+Alientz+Grotesque");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("//db.onlinewebfonts.com/c/ebaf90e665954316d40b79a1c7c942c0?family=TT+Alientz+Grotesque");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("//db.onlinewebfonts.com/c/ebaf90e665954316d40b79a1c7c942c0?family=TT+Alientz+Grotesque");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("//db.onlinewebfonts.com/c/ebaf90e665954316d40b79a1c7c942c0?family=TT+Alientz+Grotesque");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("//db.onlinewebfonts.com/c/ebaf90e665954316d40b79a1c7c942c0?family=TT+Alientz+Grotesque");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("//db.onlinewebfonts.com/c/ebaf90e665954316d40b79a1c7c942c0?family=TT+Alientz+Grotesque");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("//db.onlinewebfonts.com/c/ebaf90e665954316d40b79a1c7c942c0?family=TT+Alientz+Grotesque");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("//db.onlinewebfonts.com/c/ebaf90e665954316d40b79a1c7c942c0?family=TT+Alientz+Grotesque");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("//db.onlinewebfonts.com/c/ebaf90e665954316d40b79a1c7c942c0?family=TT+Alientz+Grotesque");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("//db.onlinewebfonts.com/c/ebaf90e665954316d40b79a1c7c942c0?family=TT+Alientz+Grotesque");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("//db.onlinewebfonts.com/c/ebaf90e665954316d40b79a1c7c942c0?family=TT+Alientz+Grotesque");
@font-face {
  font-family: "TT Alientz Grotesque";
  src: url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.eot"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.woff") format("woff"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.svg#TT Alientz Grotesque") format("svg");
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #1f2028;
  font-family: "Montserrat";
}

@font-face {
  font-family: "TT Alientz Grotesque";
  src: url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.eot"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.woff") format("woff"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.svg#TT Alientz Grotesque") format("svg");
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #1f2028;
  font-family: "Montserrat";
}

.main__section__left__buttons--darker, .main__section__left__buttons--lighter {
  font-family: "Montserrat";
  font-weight: 800;
  text-transform: uppercase;
  background-color: #5733f5;
  color: white;
  border: none;
  border-radius: 12px;
  padding: 0.95rem 1.25rem;
  white-space: nowrap;
}
.main__section__left__buttons--darker:hover, .main__section__left__buttons--lighter:hover {
  background-color: #5733f4;
  cursor: pointer;
}

.main__section__left__buttons--lighter {
  background-color: transparent;
  border: 1px solid #6c757d;
  color: white;
}
.main__section__left__buttons--lighter:hover {
  color: black;
  background-color: white;
  border-color: white;
}

@font-face {
  font-family: "TT Alientz Grotesque";
  src: url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.eot"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.woff") format("woff"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.svg#TT Alientz Grotesque") format("svg");
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #1f2028;
  font-family: "Montserrat";
}

body {
  background-color: black;
}

.button--filter {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: 1.5rem;
  border: 1px solid #ced4da;
  color: white;
  padding: 7px 15px;
  font-family: "Montserrat";
  font-size: 12px;
  white-space: nowrap;
  font-weight: 600;
  text-transform: capitalize;
  max-height: 40px;
  gap: 8px;
  line-height: 1rem;
}
.button--filter > img {
  display: block;
  width: 1.5rem;
  border-radius: 50%;
}
.button--filter:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

@font-face {
  font-family: "TT Alientz Grotesque";
  src: url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.eot"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.woff") format("woff"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.svg#TT Alientz Grotesque") format("svg");
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #1f2028;
  font-family: "Montserrat";
}

.button--hide {
  background-color: transparent;
  max-height: 40px;
  white-space: nowrap;
  border-radius: 1.5rem;
  border: 1px solid #ced4da;
  color: white;
  padding: 5px 10px;
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}
.button--hide:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

@font-face {
  font-family: "TT Alientz Grotesque";
  src: url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.eot"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.woff") format("woff"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.svg#TT Alientz Grotesque") format("svg");
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #1f2028;
  font-family: "Montserrat";
}

.section--button--drop {
  background-color: transparent;
  border: 1px solid #6c757d;
  text-transform: uppercase;
  width: 100%;
  max-width: 555px;
  min-width: 300px;
  padding: 10px;
  border-radius: 1rem;
  color: white;
  font-weight: 600;
}
.section--button--drop:hover {
  background-color: white;
  color: black;
}

@font-face {
  font-family: "TT Alientz Grotesque";
  src: url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.eot"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.woff") format("woff"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.svg#TT Alientz Grotesque") format("svg");
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #1f2028;
  font-family: "Montserrat";
}

.section__shop__card {
  background-color: #272932;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  color: #e9ecef;
  border-radius: 1rem;
  width: 350px;
}
.section__shop__card-title {
  width: 95%;
  margin: 0 auto;
  display: flex;
  gap: 10px;
  font-weight: 700;
  align-items: center;
  padding-top: 10px;
}
.section__shop__card-title img {
  width: 30px;
  border-radius: 50%;
}
.section__shop__card-vid {
  width: 95%;
  margin-inline: auto;
}
.section__shop__card-vid video {
  width: 100%;
  border-radius: 1rem;
}
.section__shop__card-vid video:hover {
  cursor: pointer;
  box-shadow: 0px 0px 80px 1px #0B325E;
}
.section__shop__card-footer {
  width: 95%;
  margin: 0 auto;
  padding-bottom: 40px;
  font-weight: 600;
}
.section__shop__card-footer-description {
  font-size: 0.8rem;
  color: #b5b5b8;
}

@font-face {
  font-family: "TT Alientz Grotesque";
  src: url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.eot"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.woff") format("woff"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.svg#TT Alientz Grotesque") format("svg");
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #1f2028;
  font-family: "Montserrat";
}

.main__section__left__buttons--darker, .main__section__left__buttons--lighter {
  font-family: "Montserrat";
  font-weight: 800;
  text-transform: uppercase;
  background-color: #5733f5;
  color: white;
  border: none;
  border-radius: 12px;
  padding: 0.95rem 1.25rem;
  white-space: nowrap;
}
.main__section__left__buttons--darker:hover, .main__section__left__buttons--lighter:hover {
  background-color: #5733f4;
  cursor: pointer;
}

.main__section__left__buttons--lighter {
  background-color: transparent;
  border: 1px solid #6c757d;
  color: white;
}
.main__section__left__buttons--lighter:hover {
  color: black;
  background-color: white;
  border-color: white;
}

@font-face {
  font-family: "TT Alientz Grotesque";
  src: url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.eot"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.woff") format("woff"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.svg#TT Alientz Grotesque") format("svg");
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #1f2028;
  font-family: "Montserrat";
}

@media only screen and (max-width: 1000px) {
  body .main__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
  body .main__section__left {
    width: 668px;
    margin: 0 auto;
  }
  body .main__section__left__countdown {
    display: none;
  }
  body .main__section__right__card {
    width: 688px;
  }
  body .main__section__right__card--up-video > video {
    width: 688px;
  }
}
.main__section {
  z-index: 2;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1350px;
  z-index: 2;
  gap: 40px;
  margin: 0 auto;
}
.main__section__left {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: white;
}
.main__section__left__title {
  display: flex;
  flex-direction: column;
  line-height: 4rem;
}
.main__section__left__title--up {
  color: #5733f4;
  font-family: "Montserrat";
  font-weight: 700;
  line-height: 1rem;
}
.main__section__left__title > h1 {
  display: flex;
  flex-direction: column;
  font-family: "TT Alientz Grotesque";
}
.main__section__left__title > h1 span {
  font-size: 4rem;
  font-weight: 900;
}
.main__section__left__title--main {
  text-transform: uppercase;
}
.main__section__left__title--sub {
  font-size: 4rem;
  font-weight: 600;
  font-family: "Montserrat";
  line-height: 1rem;
  margin-bottom: 30px;
}
.main__section__left__buttons {
  display: flex;
  gap: 20px;
}
.main__section__left__countdown {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: "Montserrat";
}
.main__section__left__countdown--text {
  font-weight: 600;
  line-height: 1.2rem;
}
.main__section__left__countdown--items {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.main__section__left__countdown--items-slash {
  height: 2rem;
  background-color: #6c757d;
  width: 1px;
}
.main__section__left__countdown--items-item-number {
  font-size: 1.3rem;
  font-weight: 600;
}
.main__section__left__countdown--items-item-text {
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1.2rem;
  color: #6c757d;
}
.main__section__right {
  display: flex;
}
.main__section__right__card {
  max-width: 1350px;
  color: white;
  font-family: "Montserrat";
  display: flex;
  flex-direction: column;
  background-color: #272932;
  border-radius: 1rem;
}
.main__section__right__card--up-video {
  position: relative;
  max-width: 406px;
}
.main__section__right__card--up-video > video {
  width: 100%;
  border-radius: 1rem;
}
.main__section__right__card--up-video > video:hover {
  box-shadow: 0px 100px 47px -47px #0b325e;
  cursor: pointer;
}
.main__section__right__card--up-text {
  color: black !important;
  font-weight: 500;
  white-space: nowrap;
  padding-inline: 20px;
  padding-block: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat";
  background-color: white;
  position: absolute;
  border-radius: 1rem;
  bottom: 10;
  left: 10;
  box-shadow: 2px 5px 16px 0px #0b325e, -2px 2px 2px 5px rgba(0, 0, 0, 0);
}
.main__section__right__card--up-text:hover {
  cursor: pointer;
}
.main__section__right__card--up-text > img {
  width: 2rem;
}
.main__section__right__card--bottom {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px 15px;
  gap: 5px;
}

@font-face {
  font-family: "TT Alientz Grotesque";
  src: url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.eot"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.woff") format("woff"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.svg#TT Alientz Grotesque") format("svg");
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #1f2028;
  font-family: "Montserrat";
}

body {
  background-color: #1f2028;
}

.discord-banner-section {
  margin: 0 auto;
  border-radius: 15px;
  background-image: linear-gradient(to right, transparent, rgb(39, 41, 50) 68%), url(../../Asset/image/Grid2x.png);
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.3);
  background-size: cover;
  max-width: 1380px;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.discord-banner-section--conteriner {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 15px;
  max-height: 100%;
  padding: 2rem;
}
.discord-banner-section--conteriner .discord-banner-section--conteriner--left {
  display: flex;
  flex-direction: column;
  width: 30%;
  justify-content: center;
  gap: 2rem;
  padding: 1.7rem 0.5rem;
  padding-left: 1rem;
}
.discord-banner-section--conteriner .discord-banner-section--conteriner--left .discord-button1 {
  border-radius: 1rem;
  padding: 15px;
  border: none;
  font-weight: bold;
  width: 52%;
  letter-spacing: 0.5px;
}
.discord-banner-section--conteriner .discord-banner-section--conteriner--left .discord-button1:hover {
  cursor: pointer;
}
.discord-banner-section--conteriner .discord-banner-section--conteriner--left .discord-banner-section--conteriner--left--text {
  display: flex;
  text-align: flex-start;
}
.discord-banner-section--conteriner .discord-banner-section--conteriner--left .discord-banner-section--conteriner--left--text h2 {
  font-size: 33px;
  font-weight: 500;
  margin: 0 auto;
  padding-top: 0.5rem;
  color: white;
}
.discord-banner-section--conteriner .discord-banner-section--conteriner--left .discord-banner-section--conteriner--left--text span {
  font-family: "TT Alientz Grotesque";
  color: white;
}
.discord-banner-section--conteriner .discord-banner-center {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 27%;
  position: relative;
  padding-bottom: 5rem;
}
.discord-banner-section--conteriner .discord-banner-center .discord-banner-center-image {
  display: flex;
  text-align: center;
  width: 100%;
  position: absolute;
  left: 4rem;
  top: -0.5rem;
}
.discord-banner-section--conteriner .creator {
  width: 60%;
  background: radial-gradient(#5733f5, transparent 65%);
}
.discord-banner-section--conteriner .creator:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.discord-banner-section--conteriner .discord-banner-section--conteiner--right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding-right: 1rem;
  padding-top: 1.3rem;
  width: 30%;
}
.discord-banner-section--conteriner .discord-banner-section--conteiner--right > p {
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 12px;
  margin: 0;
  color: white;
}
.discord-banner-section--conteriner .discord-banner-section--conteiner--right discord-banner-winner {
  display: block;
  padding-right: 2px;
}
.discord-banner-section--conteriner .discord-banner-section--conteiner--right .disable {
  display: none;
}
.discord-banner-section--conteriner .discord-banner-section--conteiner--right .discord-banner-winners-first {
  display: flex;
  gap: 10px;
  align-items: center;
  background: linear-gradient(100deg, rgb(102, 88, 53) 20%, rgb(39, 41, 50) 100%);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1490196078);
  border: 0.5px;
  border-radius: 25px;
  width: 100%;
  padding: 5px;
}
.discord-banner-section--conteriner .discord-banner-section--conteiner--right .discord-banner-winners-first .discord-winners-number {
  background-color: rgb(245, 206, 108);
  padding: 11px;
  border-radius: 19px;
  font-family: "TT Alientz Grotesque";
  font-size: 25px;
  color: white;
}
.discord-banner-section--conteriner .discord-banner-section--conteiner--right .logo {
  width: 10%;
  border-radius: 50%;
}
.discord-banner-section--conteriner .discord-banner-section--conteiner--right .discord-banner-winners-firs-info-tag {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: white;
}
.discord-banner-section--conteriner .discord-banner-section--conteiner--right .discord-banner-winners-second {
  display: flex;
  gap: 10px;
  align-items: center;
  background: linear-gradient(90deg, rgb(70, 70, 93) 0%, rgb(39, 41, 50) 100%);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1490196078);
  border: 0.5px;
  border-radius: 25px;
  width: 100%;
  padding: 5px;
}
.discord-banner-section--conteriner .discord-banner-section--conteiner--right .discord-banner-winners-second .discord-winners-number {
  background-color: #a3a2aa;
  padding: 11px;
  border-radius: 19px;
  font-family: "TT Alientz Grotesque";
  font-size: 25px;
  color: white;
}
.discord-banner-section--conteriner .discord-banner-section--conteiner--right .logo {
  width: 10%;
  border-radius: 50%;
}
.discord-banner-section--conteriner .discord-banner-section--conteiner--right .discord-banner-winners-firs-info-tag {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.discord-banner-section--conteriner .discord-banner-winners-third {
  display: flex;
  gap: 10px;
  align-items: center;
  background: linear-gradient(90deg, rgb(57, 42, 29) 0%, rgb(40, 40, 52) 100%);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1490196078);
  border: 0.5px;
  border-radius: 25px;
  width: 100%;
  padding: 5px;
}
.discord-banner-section--conteriner .discord-banner-winners-third .discord-winners-number {
  background-color: #a27c59;
  padding: 11px;
  border-radius: 19px;
  font-family: "TT Alientz Grotesque";
  font-size: 25px;
  color: white;
}
.discord-banner-section--conteriner .logo {
  width: 10%;
  border-radius: 50%;
}
.discord-banner-section--conteriner .discord-banner-winners-firs-info-tag {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media screen and (max-width: 992px) {
  .discord-banner-section {
    max-width: 688px;
    background-image: linear-gradient(to bottom, transparent, rgb(39, 41, 50) 68%), url(../../Asset/image/Grid2x.png);
  }
  .discord-banner-section--conteriner {
    display: block;
    flex-direction: column;
    margin: 0 auto;
    max-height: 780px;
  }
  .discord-banner-section--conteriner .discord-banner-section--conteriner--left {
    display: block;
    flex-direction: column;
    width: 100%;
    padding: 0;
  }
  .discord-banner-section--conteriner .discord-banner-section--conteriner--left .discord-button1 {
    display: none;
  }
  .discord-banner-section--conteriner .discord-banner-center {
    max-width: 550px;
    max-height: 353px;
    height: 100%;
    width: 100%;
    padding: 0;
  }
  .discord-banner-section--conteriner .discord-banner-center-image {
    padding: 0;
    justify-content: center;
    margin: 0 auto;
  }
  .discord-banner-section--conteriner .discord-banner-center-image .creator {
    width: 35%;
    position: absolute;
    top: 50px;
    left: 147px;
  }
  .discord-banner-section--conteriner .discord-banner-section--conteiner--right {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .discord-banner-section--conteriner .discord-banner-section--conteiner--right > p {
    letter-spacing: 0.5px;
    color: white;
  }
  .discord-banner-section--conteriner .discord-banner-section--conteiner--right .discord-banner-winners-first {
    width: 100%;
  }
  .discord-banner-section--conteriner .discord-banner-section--conteiner--right .discord-banner-winners-first .logo {
    width: 10%;
    color: white;
  }
  .discord-banner-section--conteriner .discord-banner-section--conteiner--right .disable {
    display: flex;
    justify-content: center;
    padding: 15px;
    border-radius: 15px;
    border: none;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0.5px;
  }
}
@font-face {
  font-family: "TT Alientz Grotesque";
  src: url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.eot"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.woff") format("woff"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.svg#TT Alientz Grotesque") format("svg");
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #1f2028;
  font-family: "Montserrat";
}

body {
  background-color: black;
}

.aside {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  width: 100%;
  max-width: 340px;
}
.aside__section--hide {
  display: flex;
  justify-content: center;
  align-items: start;
}
.aside__slash {
  width: 95%;
  height: 1px;
  background-color: #6c757d;
}
.aside__section {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
}
.aside__section--text {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  text-transform: uppercase;
  font-weight: 500;
}
.aside__section--text--title {
  display: flex;
  gap: 4px;
}
.aside__section--text--title span:last-child {
  color: #6c757d;
  font-weight: 500;
}
.aside__section--text--b > button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 18px;
  font-weight: 700;
}
.aside__section--text--b > button:hover {
  cursor: pointer;
}
.aside__section--button {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.aside__section--footer {
  text-align: left;
  font-size: 1rem;
  color: #6c757d;
  font-weight: 600;
}
.aside__section--footer span > a {
  text-decoration: none;
  color: #e9ecef;
  font-weight: 600;
}

@font-face {
  font-family: "TT Alientz Grotesque";
  src: url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.eot"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.woff") format("woff"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.svg#TT Alientz Grotesque") format("svg");
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #1f2028;
  font-family: "Montserrat";
}

body {
  background-color: #1f2028;
}

.try-them-on {
  display: flex;
  flex-direction: column;
  padding: 0 24px;
}
.try-them-on .section-name {
  display: flex;
  color: white;
}
.try-them-on .section-name h2 {
  font-size: 1rem;
  margin: 0 0 2rem 0;
}
.try-them-on__cards-container {
  display: flex;
  justify-content: center;
}
.try-them-on__cards-container .try-them-on__snap-card {
  display: flex;
  width: 100%;
  border-radius: 1rem;
  padding: 1rem;
  height: 100%;
  box-sizing: border-box;
  background-color: #272932;
}
.try-them-on__cards-container .try-them-on__snap-card--title {
  display: flex;
}
.try-them-on__cards-container .try-them-on__snap-card--title a {
  color: white;
  text-decoration: none;
  font-size: 0.75rem;
  font-weight: 600;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}
.try-them-on__cards-container .try-them-on__snap-card--media {
  position: relative;
  width: 100%;
}
.try-them-on__cards-container .try-them-on__snap-card--media .display-video {
  display: flex;
  height: 100%;
}
.try-them-on__cards-container .try-them-on__snap-card--media .display-video video {
  margin: 0 0 0 15%;
  border-radius: 1rem;
  max-width: 100%;
  cursor: pointer;
  -o-object-fit: cover;
     object-fit: cover;
}
.try-them-on__cards-container .try-them-on__snap-card--media img {
  display: flex;
  position: absolute;
  top: calc(50% - 1rem - 57px);
  left: -1.25rem;
  vertical-align: middle;
  height: 114px;
  width: 114px;
  cursor: pointer;
}

@media screen and (min-width: 1440px) {
  .try-them-on {
    display: flex;
    align-items: center;
  }
  .try-them-on .section-name {
    display: flex;
    align-items: left;
    width: 1424px;
  }
  .try-them-on__cards-container {
    width: 1440px;
    height: 663.359px;
  }
  .try-them-on__cards-container .try-them-on__snap-card {
    margin: 0 8px 16px 8px;
  }
}
@media (min-width: 1200px) and (max-width: 1439px) {
  .try-them-on {
    display: flex;
    align-items: center;
  }
  .try-them-on .section-name {
    display: flex;
    align-items: left;
    width: 1124px;
  }
  .try-them-on__cards-container {
    height: 512.5px;
    width: 1140px;
  }
  .try-them-on__cards-container .try-them-on__snap-card {
    margin: 0 8px 16px 8px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .try-them-on {
    display: flex;
    align-items: center;
  }
  .try-them-on .section-name {
    display: flex;
    align-items: left;
    width: 912px;
  }
  .try-them-on__cards-container {
    height: 421.578px;
    width: 928px;
  }
  .try-them-on__cards-container .try-them-on__snap-card {
    margin: 0 8px 16px 8px;
    padding-right: 48px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .try-them-on {
    display: flex;
    align-items: center;
  }
  .try-them-on .section-name {
    display: flex;
    align-items: left;
    width: 664px;
  }
  .try-them-on__snap-card--media {
    margin: 0 0 0 38.188px;
    width: -moz-fit-content;
    width: fit-content;
    flex: 1 1 0%;
  }
  .try-them-on__snap-card--media .display-video {
    width: 100%;
  }
  .try-them-on__cards-container {
    display: flex;
    height: 457.969px;
    max-width: 672px;
    justify-content: unset;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-bottom: 24px;
  }
  .try-them-on__cards-container .try-them-on__snap-card {
    width: 100%;
    height: 457.969px;
    margin-right: 16px;
  }
  .try-them-on__cards-container .try-them-on__snap-card--media .display-video {
    width: 100%;
    height: 100%;
    display: flex;
  }
  .try-them-on__cards-container .try-them-on__snap-card--media .display-video video {
    flex-shrink: 0;
    max-width: 239.609px;
    height: 100%;
    margin: 0;
  }
  .try-them-on__cards-container .try-them-on__snap-card--media img {
    left: -22%;
  }
  .try-them-on__cards-container > :nth-child(3) {
    margin-right: 0;
  }
}
@media (min-width: 428px) and (max-width: 767px) {
  .try-them-on {
    display: flex;
    align-items: center;
  }
  .try-them-on .section-name {
    display: flex;
    align-items: left;
    width: 388;
  }
  .try-them-on__snap-card--media {
    margin: 0 0 0 22.5px;
    width: -moz-fit-content;
    width: fit-content;
    flex: 1 1 0%;
  }
  .try-them-on__snap-card--media .display-video {
    width: 100%;
  }
  .try-them-on__cards-container {
    display: flex;
    height: 237.328px;
    max-width: 388px;
    justify-content: unset;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-bottom: 24px;
  }
  .try-them-on__cards-container .try-them-on__snap-card {
    width: 100%;
    min-height: 237.328px;
    margin-right: 16px;
    padding: 16px;
  }
  .try-them-on__cards-container .try-them-on__snap-card--media {
    min-width: 115.5px;
    height: 205.328px;
  }
  .try-them-on__cards-container .try-them-on__snap-card--media .display-video {
    display: flex;
  }
  .try-them-on__cards-container .try-them-on__snap-card--media .display-video video {
    flex-shrink: 0;
    margin: 0;
  }
  .try-them-on__cards-container .try-them-on__snap-card--media img {
    left: -50%;
  }
  .try-them-on__cards-container > :nth-child(3) {
    margin-right: 0;
  }
}
body {
  background-color: #1f2028;
  box-sizing: border-box;
}
body .logo-text {
  font-family: "TT Alientz Grotesque";
  font-size: 2rem;
  color: #f8f9fa;
  display: flex;
  justify-content: center;
}
body .logo-text h2:hover {
  -webkit-text-decoration: underline #6610f2;
          text-decoration: underline #6610f2;
  cursor: pointer;
}
body .logo-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
}
body .design-color-text {
  font-family: "TT Alientz Grotesque";
  font-size: 2rem;
  color: #f8f9fa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .design-color-text h2:hover {
  -webkit-text-decoration: underline #6610f2;
          text-decoration: underline #6610f2;
  cursor: pointer;
}
body .design-color-content img {
  width: 60px;
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  border: 1px solid black;
  border-radius: 1rem;
  box-shadow: 2px 10px 10px 6px rgba(0, 0, 0, 0.192);
  background-color: #1c1d23;
}
body .design-component-text {
  font-family: "TT Alientz Grotesque";
  color: #f8f9fa;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .design-component-text h2:hover {
  -webkit-text-decoration: underline #6610f2;
          text-decoration: underline #6610f2;
  cursor: pointer;
}
body .design-component-item {
  border: 1px solid black;
  padding: 15px;
  background-color: #1c1d23;
  box-shadow: 2px 10px 10px 6px rgba(0, 0, 0, 0.192);
  border-radius: 1rem;
  display: flex;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  gap: 30px;
  align-items: end;
  justify-content: center;
}
body .design-component-button {
  display: flex;
  flex-wrap: wrap;
  box-shadow: 2px 10px 10px 6px rgba(0, 0, 0, 0.192);
  flex-direction: column;
  border: 1px solid black;
  border-radius: 1rem;
  width: 100%;
  margin-left: 10px;
  background-color: #272932;
  color: #f8f9fa;
  margin-top: 30px;
  margin-right: auto;
}
body .design-component-button-items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}/*# sourceMappingURL=design.css.map */