<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../common.css" />
    <link rel="stylesheet" href="./index.css" />
  </head>
  <body>
    <main>
      <!-- INIZIO MAIN SECTION -->
      <div class="main__section">
        <!-- INIZIO SEZIONE LEFT -->
        <div class="main__section__left">
          <!-- TITOLO SECTION -->
          <div class="main__section__left__title">
            <div class="main__section__left__title--up">RTFKT X RIMOWA</div>
              <h1>
                <span class="main__section__left__title--main">rimova</span>
                <span>Forgin Event</span> 
              </h1>
            <span class="main__section__left__title--sub">is now open</span>
          </div>
          <!-- FINE TITOLO -->

          <!-- INIZIO BOTTONI -->
          <div class="main__section__left__buttons">
            <button class="main__section__left__buttons--darker">sign in</button>
            <button class="main__section__left__buttons--lighter">learn more</button>
          </div>
          <!--  FINE BOTTONI -->

          <!--  INIZO COUNNT DOWN DIV -->
          <div class="main__section__left__countdown">

            <!-- COUNNT DOWN TEXT -->
           <div class="main__section__left__countdown--text">
            <span>Forging ⚒️ event ends in:</span>
           </div> 

           <!-- COUNNT DOWN FUNC DISPLAY -->
           <div class="main__section__left__countdown--items">
            <!-- INIZIO DIV ITEMS -->

            <!-- INIZIO DIV CHILD -->
             <div class="main__section__left__countdown--items-item">
              <div class="main__section__left__countdown--items-item-number">03</div>
              <div class="main__section__left__countdown--items-item-text">Days</div>
            </div>
            <!-- FINE DIV CHILD -->

            <div class="main__section__left__countdown--items-slash"></div>

              <!-- INIZIO DIV CHILD -->
             <div class="main__section__left__countdown--items-item">
              <div class="main__section__left__countdown--items-item-number">03</div>
              <div class="main__section__left__countdown--items-item-text">Hours</div>
            </div>
            <!-- FINE DIV CHILD -->
            <div class="main__section__left__countdown--items-slash"></div>

            <!-- INIZIO DIV CHILD -->
             <div class="main__section__left__countdown--items-item">
              <div class="main__section__left__countdown--items-item-number">03</div>
              <div class="main__section__left__countdown--items-item-text">Minutes</div>
            </div>
            <!-- FINE DIV CHILD -->
             <!-- FINE DIV ITEMS -->
           </div>

          </div>
          <!-- FINE COUNT DOWN -->
        </div>
        <!-- FINE SEZIONE LEFT -->

        <!-- INIZIO SEZIONE RIGHT -->
        <div class="main__section__right">

          <!-- INIZIO CARD -->
          <div class="main__section__right__card">
            <!-- SEZIONE SUPERIORE -->
              <div class="main__section__right__card--up">
                  <div class="main__section__right__card--up-video">
                    <video src="../../Asset/Video/Card-Main.mp4" loop  controls="hidden"></video>
                  </div>
                  <div class="main__section__right__card--up-text">
                    <img src="../../Asset/image/logo-card-text-main-section.png" alt="">
                    <span> @rtfkt x rimowa</span>
                  </div>
              </div>
              <!--  SEZIONE INFERIORE -->
              <div class="main__section__right__card--bottom">
                <div  class="main__section__right__card--bottom-title">@RTFKT x RIMOWA "Meta-Artisan"</div>
                <div class="main__section__right__card--bottom-description">1/389</div>

              </div>


          </div>
          <!-- FINE CARD -->

        </div>
      </div>
    </main>
  </body>
</html>
