<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../common.css">
    <link rel="stylesheet" href="./index.css">
</head>
<body>
<main>
    <div class="main__section">
        <div class="main__section__left">
            <div class="main__section__title"></div>
            <div class="main__section__buttons"></div>
            <div class="main__section__countdown"></div>
        </div>
        <div class="main__section__right"></div>



    </div>

</main>
   
</body>
</html>