@import "../buttons/index.scss";
@import "../common.scss";


@media only screen and (max-width: 1000px) {
  body .main__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    &__left {
      width: 668px;
      margin: 0 auto;
      &__countdown {
        display: none;
      }
    }
    &__right__card {
      width: 688px;
      &--up-video > video {
        width: 688px;
      }
    }
  }
}

.main__section {
  z-index: 2;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1350px;
  gap: 40px;
  margin: 0 auto;
  &__left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: $color-white;
    &__title {
      display: flex;
      flex-direction: column;
      line-height: 4rem;
      &--up {
        color: $color-violet;
        font-family: $primary-font;
        font-weight: 700;
        line-height: 1rem;
      }
      & > h1 {
        display: flex;
        flex-direction: column;
        font-family: $special-font;
        & span {
          font-size: 4rem;
          font-weight: 900;
        }
      }
      &--main {
        text-transform: uppercase;
      }
      &--sub {
        font-size: 4rem;
        font-weight: 600;
        font-family: $primary-font;
        line-height: 1rem;
        margin-bottom: 30px;
      }
    }

    &__buttons {
      display: flex;
      gap: 20px;
    }

    &__countdown {
      margin-top: 50px;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      font-family: $primary-font;
      &--text {
        font-weight: 600;
        line-height: 1.2rem;
      }
      &--items {
        display: flex;
        gap: 1rem;
        align-items: center;
        &-slash {
          height: 2rem;
          background-color: $color-gray-600;
          width: 1px;
        }
        &-item-number {
          font-size: 1.3rem;
          font-weight: 600;
        }
        &-item-text {
          font-size: 1.1rem;
          font-weight: 600;
          line-height: 1.2rem;
          color: $color-gray-600;
        }
      }
    }
  }
  &__right {
    display: flex;
    // justify-content: flex-end;
    &__card {
      max-width: 1350px;
      color: $color-white;
      font-family: $primary-font;
      display: flex;
      flex-direction: column;
      background-color: $color-gray-700;
      border-radius: 1rem;
      &--up {
        &-video {
          position: relative;

          max-width: 406px;
          & > video {
            width: 100%;
            border-radius: 1rem;
            &:hover {
              -webkit-box-shadow: 0px 100px 47px -47px #0b325e;
              box-shadow: 0px 100px 47px -47px #0b325e;
              cursor: pointer;
            }
          }
        }
        &-text {
          color: $color-black !important;
          font-weight: 500;
          white-space: nowrap;
          padding-inline: 20px;
          padding-block: 2px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-family: $primary-font;
          background-color: $color-white;
          position: absolute;
          border-radius: 1rem;
          bottom: 10;
          left: 10;
          -webkit-box-shadow: 2px 5px 16px 0px #0b325e,
            -2px 2px 2px 5px rgba(0, 0, 0, 0);
          box-shadow: 2px 5px 16px 0px #0b325e,
            -2px 2px 2px 5px rgba(0, 0, 0, 0);
          &:hover {
            cursor: pointer;
          }
          & > img {
            width: 2rem;
          }
        }
      }
      &--bottom {
        display: flex;
        flex-direction: column;
        font-weight: 500;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 20px 15px;
        gap: 5px;
      }
    }
  }
}
