@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("//db.onlinewebfonts.com/c/ebaf90e665954316d40b79a1c7c942c0?family=TT+Alientz+Grotesque");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("//db.onlinewebfonts.com/c/ebaf90e665954316d40b79a1c7c942c0?family=TT+Alientz+Grotesque");
@font-face {
  font-family: "TT Alientz Grotesque";
  src: url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.eot"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.woff") format("woff"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.svg#TT Alientz Grotesque") format("svg");
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #1f2028;
  font-family: "Montserrat";
}

.main__section__left__buttons--darker, .main__section__left__buttons--lighter {
  font-family: "Montserrat";
  font-weight: 800;
  text-transform: uppercase;
  background-color: #5733f5;
  color: white;
  border: none;
  border-radius: 12px;
  padding: 0.95rem 1.25rem;
  white-space: nowrap;
}
.main__section__left__buttons--darker:hover, .main__section__left__buttons--lighter:hover {
  background-color: #5733f4;
  cursor: pointer;
}

.main__section__left__buttons--lighter {
  background-color: transparent;
  border: 1px solid #6c757d;
  color: white;
}
.main__section__left__buttons--lighter:hover {
  color: black;
  background-color: white;
  border-color: white;
}

@font-face {
  font-family: "TT Alientz Grotesque";
  src: url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.eot"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.woff") format("woff"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.svg#TT Alientz Grotesque") format("svg");
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #1f2028;
  font-family: "Montserrat";
}

@media only screen and (max-width: 1000px) {
  body .main__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
  body .main__section__left {
    width: 668px;
    margin: 0 auto;
  }
  body .main__section__left__countdown {
    display: none;
  }
  body .main__section__right__card {
    width: 688px;
  }
  body .main__section__right__card--up-video > video {
    width: 688px;
  }
}
.main__section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1350px;
  z-index: 2;
  gap: 40px;
  margin: 0 auto;
}
.main__section__left {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: white;
}
.main__section__left__title {
  display: flex;
  flex-direction: column;
  line-height: 4rem;
}
.main__section__left__title--up {
  color: #5733f4;
  font-family: "Montserrat";
  font-weight: 700;
  line-height: 1rem;
}
.main__section__left__title > h1 {
  display: flex;
  flex-direction: column;
  font-family: "TT Alientz Grotesque";
}
.main__section__left__title > h1 span {
  font-size: 4rem;
  font-weight: 900;
}
.main__section__left__title--main {
  text-transform: uppercase;
}
.main__section__left__title--sub {
  font-size: 4rem;
  font-weight: 600;
  font-family: "Montserrat";
  line-height: 1rem;
  margin-bottom: 30px;
}
.main__section__left__buttons {
  display: flex;
  gap: 20px;
}
.main__section__left__countdown {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: "Montserrat";
}
.main__section__left__countdown--text {
  font-weight: 600;
  line-height: 1.2rem;
}
.main__section__left__countdown--items {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.main__section__left__countdown--items-slash {
  height: 2rem;
  background-color: #6c757d;
  width: 1px;
}
.main__section__left__countdown--items-item-number {
  font-size: 1.3rem;
  font-weight: 600;
}
.main__section__left__countdown--items-item-text {
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1.2rem;
  color: #6c757d;
}
.main__section__right {
  display: flex;
}
.main__section__right__card {
  max-width: 1350px;
  color: white;
  font-family: "Montserrat";
  display: flex;
  flex-direction: column;
  background-color: #272932;
  border-radius: 1rem;
}
.main__section__right__card--up-video {
  position: relative;
  max-width: 406px;
}
.main__section__right__card--up-video > video {
  width: 100%;
  border-radius: 1rem;
}
.main__section__right__card--up-video > video:hover {
  box-shadow: 0px 100px 47px -47px #0b325e;
  cursor: pointer;
}
.main__section__right__card--up-text {
  color: black;
  font-weight: 500;
  white-space: nowrap;
  padding-inline: 20px;
  padding-block: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat";
  background-color: white;
  position: absolute;
  border-radius: 1rem;
  bottom: 10;
  left: 10;
  box-shadow: 2px 5px 16px 0px #0b325e, -2px 2px 2px 5px rgba(0, 0, 0, 0);
}
.main__section__right__card--up-text:hover {
  cursor: pointer;
}
.main__section__right__card--up-text > img {
  width: 2rem;
}
.main__section__right__card--bottom {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px 15px;
  gap: 5px;
}/*# sourceMappingURL=index.css.map */