@import "../common.scss";
@import "../filter-button-hider/index.scss";
@import "../filter-button/index.scss";
@import "../filter-menu/index.scss";
@import "../shop-card/index.scss";


.main {
  display: flex;
  flex-direction: column;
  max-width: 85%;
  margin: 0 auto;
  &__head {
    display: flex;
    justify-content: space-between;

    &__inp {
        display: flex;
        gap: 5%;
      position: relative;
      &src {
        position: relative;
        form {
          display: flex;
          & input {
            padding: 10px;
            border-radius: 4rem;
          }
          & button[btn="src"] {
            position: relative;
            color: white;
            bottom: 0;
            right: 37;
            background-color: $color-white;
            border-radius: 50%;
            padding: 8px;
          }
        }
      }
    }
  }
}
