<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="whoweare.css">
</head>
<body>
    <div class="who-we-are-section-container">
    <h2> WHO WE ARE</h2>
        <div id="whoWeAre-Container">
            <img src="../../Asset/image/about-us2.svg" alt="">
            <div class="whoWeAre-text">
                <p>We are a <span class="pic">creator</span> led organisation. <span class="pic1">RTFKT</span> uses the latest in <span class="pic2">game engines</span>, <span class="pic3">NFT</span>, <span class="pic4">blockchain</span> authentication and <span class="pic5">augmented reality</span>, combined with <span class="pic6"> manufacturing</span> expertise to create one of a kind <span class="pic7">sneakers</span> and <span class="pic8">digital artifacts.</span></p>
                <img src="" alt="" id="picHover" class="flip-vertical-fwd">
            </div>

        </div>
    </div>
    <script src="whoweare.js"></script>
</body>
</html>