@import "../common.scss";
@import "../common.scss";

// body {
//   background-color: $color-body-bg;
//   margin: 0;
// }

body {
  background-color: $color-body-bg;
  margin: 0;
}

.who-we-are-section-container {
  margin: 0 auto;
  max-width: 1350px;
  > h2 {
    font-family: $primary-font;
    font-size: 20px;
    color: $color-gray-300;
    margin-left: 2rem;
  }
}

#whoWeAre-Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  .whoWeAre-text {
    font-family: $primary-font;
    display: flex;
    text-align: center;
    font-size: 30px;
    & p {
      font-weight: 500;
    }
    & span {
      font-family: $special-font;
      color: $color-gray-300;
      cursor: pointer;
      &:hover {
        text-decoration: underline $color-indigo;
        cursor: pointer;         
      }
    }

    #picHover, 
    #picHover1,
    #picHover2,
    #picHover3, 
    #picHover4,
    #picHover5,
    #picHover6, 
    #picHover7,
    #picHover8
     {
      position: absolute;
      border-radius: 1rem;
      max-width: 260px;
      opacity: 20;
     }
    
  }

}
//keyframe


  



@media screen and (max-width: 991px) {
  .who-we-are-section-container {
    max-width: 650px;
  }
}
