@import "../common.scss";

// body {
//   background-color: $color-body-bg;
//   margin: 0;
// }

.who-we-are-section-container {
  margin: 0 auto;
  max-width: 1350px;
  > h2 {
    font-family: $primary-font;
    font-size: 1rem;
    color: $color-gray-300;
  }
}

#whoWeAre-Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  .whoWeAre-text {
    font-family: $primary-font;
    display: flex;
    text-align: center;
    font-size: 30px;

    & p {
      font-weight: 500;
      color: $color-gray-600;
    }
    & span {
      font-family: $special-font;
      color: $color-gray-300;
      &:hover {
        text-decoration: underline $color-indigo;
        cursor: pointer;
      }
    }
  }
}

.whoWeAre-text {
  font-family: $primary-font;
  display: flex;
  text-align: center;
  font-size: 30px;

  & p {
    font-weight: 500;
  }
  & span {
    font-family: $special-font;
    color: $color-gray-300;
    &:hover {
      text-decoration: underline $color-indigo;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 1000px) {
  .who-we-are-section-container {
    max-width: 720px;
  }
}
