@import '../common.scss';


body {
    background-color: $color-body-bg;
    margin: 0;
}


.who-we-are-section-container{
    margin: 0 auto;
    max-width: 1350px;
    > h2 {
        font-family: $primary-font;
        font-size: 20px;
        color: $color-gray-300;
        margin-left: 2rem;
    }
}

#whoWeAre-Container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    .whoWeAre-text {
        font-family: $primary-font;
        display: flex;
        text-align: center;
        font-size: 30px;
        
        & p {
            font-weight: 500;
        }
        & span {
            font-family: $special-font;
            color: $color-gray-300;
            cursor: pointer;
            &:hover{
                text-decoration: underline $color-indigo;
                cursor: pointer;
               
            }
        }
    }

//     .pic{
//         position: relative;
//         display: inline-block;
//         cursor: pointer;
//         &::after {
//             content: ''; // content vuoto per lavoarlo con limg di bg
//             position: absolute;
//             top: 0;
//             left: 0;
//             width: quello che ti serve;
//             background-image: url("url img");
//             background-size: cover;
//             opacity: 0;
//             pointer-events: none;
          
//           }
//           &::after :hover::after {
//             opacity: 1;
//           }
//       }
      
      
      
//       .pic::after :hover::after {
//         opacity: 1;
//       }
// }


// .whoWeAre-text {
//     font-family: $primary-font;
//     display: flex;
//     text-align: center;
//     font-size: 30px;
    
//     & p {
//         font-weight: 500;
//     }
//     & span {
//         font-family: $special-font;
//         color: $color-gray-300;
//         &:hover{
//             text-decoration: underline $color-indigo;
//             cursor: pointer;
           
//         }
//     }
// }

@media screen and (max-width:991px){
    .who-we-are-section-container{
        max-width: 720px;
        }
    }



}