<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="style" href="../common.css">
</head>
<body>
    <div class="bottom-section">
        <div id="image">
            <img src="./bg-email-mailchimp-partner-section.png" alt="left-img" id="image1">
        </div>
        <div id="brands">
            <div id="awesome-people">
                <p>AWESOME PEOPLE WE WORKED WITH</p>
            </div>
            <div class="all-brands">
                <div class="same-class">
                    <img src="epic.png" alt="epic" class="same-image">
                </div>
                <div class="same-class">
                    <img src="staple.png" alt="staple" class="same-image">
                </div>
                <div class="same-class">
                    <img src="fewocious.png" alt="fewocious" class="same-image">
                </div>
                <div class="same-class">
                    <img src="atari.png" alt="atari" class="same-image">
                </div>
                <div class="same-class">
                    <img src="murakami.png" alt="murakami" class="same-image">
                </div>
                <div class="same-class">
                    <img src="nike.svg" alt="nike" class="same-image">
                </div>
            </div>
        </div>
    </div>
</body>
</html>