@import '../common.scss';

body{
    background-color: $color-body-bg ;
}

.bottom-section{
    padding-top: 10px;
    width: 75%;
    max-width: 1400px;
    height: 100%;
    max-height: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap:20px;
    #image{
        width: 50%;
        #image1{
            border-radius: 30px;
            width: 100%;
        }
    }
    #brands{
        width: 50%;
        background-color: $color-gray-700;
        border-radius: 30px;
        // height: 100%;
        #awesome-people{
            width: 50%;
            margin: 0 auto;
            padding: 15px;
            height: 20%;
            p{
                color: white;
                font-family: 'Montserrat', sans-serif;
            }
        }
        .all-brands{
            width: 100%;
            height: 65%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            margin: 0 auto;
            gap: 20px;
            .same-class{
                display: flex;
                width: 30%;
                height: auto;
                background-color: $color-gray-700;
                box-shadow: 0 0 50px 7px rgba(0,0,0,0.3);
                border-radius: 30px;
                .same-image{
                    display: block;
                    height: 50px;
                    margin: 0 auto;
                }
            }
        }
    }
}

