<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../common.css" />
    <link rel="stylesheet" href="./index.css" />
  </head>
  <body>
    <div class="navbar">
      <div class="navbar-left">
        <div class="navbar-left__img">
          <img src="../../Asset/image/rtfkt_logotype.svg" alt="" />
          <img src="../../Asset/image/rtfkt_swoosh.svg" alt="" />
        </div>
      </div>
      <div class="navbar-right">
        <div class="navbar-right__menu">
          <a href="#">DROPS ARCHIVE</a>
          <a href="#">CREATORS</a>
          <div class="navbar-right__menu-dropdown">
            <a href="#">
              COLLECTIONS
              <img
                src="https://cdn.rtfkt.com/assets/icons/arrow-down-white.svg"
                alt=""
              />
            </a>
            <!-- <div id="navabr-right__menu-dropdown--content">
              <a href="#">RIMOWA</a>
              <a href="#">BYREDO</a>
              <a href="#">SPACE DRIP FORGING</a>
              <a href="#">MNLTH</a>
              <a href="#">CLONE X</a>
              <a href="#">PUNK PROJECT</a>
              <a href="#">JEFF STAPLE</a>
              <a href="#">FEWOCIOUS</a>
              <a href="#">SPACE DRIP 1.2</a>
              <a href="#">SPACE DRIP</a>
              <a href="#">CREATORS</a>
              <a href="#">EXODUS</a>
            </div> -->
          </div>
          <a href="#">WTF</a>
          <a href="#">
            <span>SIGN IN</span>
          </a>
          <a href="#">
            <img src="../../Asset/image/hamburger-white.svg" alt="" />
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
