@import "../common.scss";

body {
  background-color: $color-body-bg;
}

nav {
  position: relative;

  .navbar {
    display: flex;
    align-items: center;
    padding: 14px 24px;
    font-family: $primary-font;
    color: $color-white;
    font-size: 0.83rem;
    font-weight: 700;
    letter-spacing: 0.1rem;

    a {
      transform: scale(1, 0.9);
    }

    &-right {
      display: flex;
      justify-content: right;
      align-items: center;
      width: 100%;
      gap: 26px;

      &__menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 26px;

        a {
          text-decoration: none;
          color: $color-white;

          &:hover {
            color: $color-gray-400;
          }
        }

        &-dropdown {
          height: fit-content;
          width: fit-content;
          a {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 17px 0;

            img {
              transform: scale(0.9, 1.1);
            }
          }

          &--collections {
            position: relative;
            display: flex;
            align-items: center;
            gap: 2px;
          }

          &--floating {
            position: absolute;
            align-items: center;
            text-align: center;
            min-width: 228px;
            border-radius: 20px;
            background-color: $color-gray-700;
            display: none;
            flex-direction: column;
            top: 80px;
            right: 120px;
            overflow: hidden;
            box-shadow: 0 0.5rem 1rem #00000026 !important;

            a {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 100%;

              &:hover {
                color: $color-white;
                background-color: $color-violet;
              }
            }
          }

          &:hover {
            .navbar-right__menu-dropdown--floating {
              display: flex;
            }
          }
        }

        &--modal {
          display: none;
          position: fixed;
          top: 72px;
          height: calc(100vh - 72px);
          width: 100%;
        }
      }

      &__signIn-button {
        display: flex;
        gap: 20px;

        &--signIn {
          font-family: $primary-font;
          font-weight: 700;
          font-size: 0.75rem;
          color: white;
          background-color: $color-violet;
          border-radius: 24px;
          border: none;
          height: 100%;
          padding: 14px 24px;
          cursor: pointer;

          span {
            transform: scale(1, 0.9);
            font-size: 0.95rem;
          }

          &:hover {
            color: white;
            background-color: $color-violet-darker;
          }
        }

        &--open {
          display: none;
          background-color: transparent;
          border: none;
          padding: 0;
          cursor: pointer;
        }

        &--close {
          display: none;
          background-color: transparent;
          border: none;
          padding: 0;
          cursor: pointer;
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  nav {
    .navbar {
      padding: 11px 24px;
      
      &-left {
        &__img :first-child img {
          display: none;
        }
      }
      
      &-right {
        &__menu {
          display: none;
        }
        &__signIn-button {
          &--open {
            display: block;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 992px) {
  nav {
    .navbar {
      &-left {
        &__img :last-child img {
          display: none;
        }
      }
    }
  }
}


