@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("//db.onlinewebfonts.com/c/ebaf90e665954316d40b79a1c7c942c0?family=TT+Alientz+Grotesque");
@font-face {
  font-family: "TT Alientz Grotesque";
  src: url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.eot"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.woff") format("woff"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.svg#TT Alientz Grotesque") format("svg");
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1f2028;
}

nav {
  position: relative;
}
nav .navbar {
  display: flex;
  align-items: center;
  padding: 14px 24px;
  font-family: "Montserrat";
  color: white;
  font-size: 0.83rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}
nav .navbar a {
  transform: scale(1, 0.9);
}
nav .navbar-right {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 100%;
  gap: 26px;
}
nav .navbar-right__menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 26px;
}
nav .navbar-right__menu a {
  text-decoration: none;
  color: white;
}
nav .navbar-right__menu a:hover {
  color: #ced4da;
}
nav .navbar-right__menu-dropdown {
  height: fit-content;
  width: fit-content;
}
nav .navbar-right__menu-dropdown a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 17px 0;
}
nav .navbar-right__menu-dropdown a img {
  transform: scale(0.9, 1.1);
}
nav .navbar-right__menu-dropdown--collections {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2px;
}
nav .navbar-right__menu-dropdown--floating {
  position: absolute;
  align-items: center;
  text-align: center;
  min-width: 228px;
  border-radius: 20px;
  background-color: #272932;
  display: none;
  flex-direction: column;
  top: 80px;
  right: 120px;
  overflow: hidden;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1490196078) !important;
}
nav .navbar-right__menu-dropdown--floating a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
nav .navbar-right__menu-dropdown--floating a:hover {
  color: white;
  background-color: #5733f5;
}
nav .navbar-right__menu-dropdown:hover .navbar-right__menu-dropdown--floating {
  display: flex;
}
nav .navbar-right__menu--modal {
  display: none;
  position: fixed;
  top: 72px;
  height: calc(100vh - 72px);
  width: 100%;
}
nav .navbar-right__signIn-button {
  display: flex;
  gap: 20px;
}
nav .navbar-right__signIn-button--signIn {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 0.75rem;
  color: white;
  background-color: #5733f5;
  border-radius: 24px;
  border: none;
  height: 100%;
  padding: 14px 24px;
  cursor: pointer;
}
nav .navbar-right__signIn-button--signIn span {
  transform: scale(1, 0.9);
  font-size: 0.95rem;
}
nav .navbar-right__signIn-button--signIn:hover {
  color: white;
  background-color: #4b24f4;
}
nav .navbar-right__signIn-button--open {
  display: none;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}
nav .navbar-right__signIn-button--close {
  display: none;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

@media screen and (max-width: 991px) {
  nav .navbar {
    padding: 11px 24px;
  }
  nav .navbar-left__img :first-child img {
    display: none;
  }
  nav .navbar-right__menu {
    display: none;
  }
  nav .navbar-right__signIn-button--open {
    display: block;
  }
}
@media screen and (min-width: 992px) {
  nav .navbar-left__img :last-child img {
    display: none;
  }
}

/*# sourceMappingURL=index.css.map */
