<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../common.css" />
    <link rel="stylesheet" href="./index.css" />
  </head>
  <body>
    <!--//**! INSERT YOUR CODE HERE -->

    <!--Inizio Navbar -->
    <div class="navbar">
      <div class="navbar-left">
        <div class="navbar-left__img">
          <img src="../../Asset/image/rtfkt_logotype.svg" alt="" />
          <img src="../../Asset/image/rtfkt_swoosh.svg" alt="" />
        </div>
      </div>
      <div class="navbar-right">
        <div class="navbar-right__menu">
          <a href="#">DROPS ARCHIVE</a>
          <a href="#">CREATORS</a>
          <div class="navbar-right__menu-dropdown">
            <a href="#" id="collections-link">
              COLLECTIONS
              <img
                src="https://cdn.rtfkt.com/assets/icons/arrow-down-white.svg"
                alt=""
              />
            </a>
            <div id="floating-menu">
              <a href="#">RIMOWA</a>
              <a href="#">BYREDO</a>
              <a href="#">SPACE DRIP FORGING</a>
              <a href="#">MNLTH</a>
              <a href="#">CLONE X</a>
              <a href="#">PUNK PROJECT</a>
              <a href="#">JEFF STAPLE</a>
              <a href="#">FEWOCIOUS</a>
              <a href="#">SPACE DRIP 1.2</a>
              <a href="#">SPACE DRIP</a>
              <a href="#">CREATORS</a>
              <a href="#">EXODUS</a>
            </div>
          </div>
          <a href="#">WTF</a>
          <a href="#">
            <span>SIGN IN</span>
          </a>
          <a href="#">
            <img src="../../Asset/image/hamburger-white.svg" alt="" />
          </a>
        </div>
      </div>
    </div>
    <!--Fine Navbar -->
    <!-- Inizio Card Main Section -->
    <main>
      <!-- INIZIO MAIN SECTION -->
      <div class="main__section">
        <!-- INIZIO SEZIONE LEFT -->
        <div class="main__section__left">
          <!-- TITOLO SECTION -->
          <div class="main__section__left__title">
            <div class="main__section__left__title--up">RTFKT X RIMOWA</div>
            <h1>
              <span class="main__section__left__title--main">rimova</span>
              <span>Forgin Event</span>
            </h1>
            <span class="main__section__left__title--sub">is now open</span>
          </div>
          <!-- FINE TITOLO -->

          <!-- INIZIO BOTTONI -->
          <div class="main__section__left__buttons">
            <button class="main__section__left__buttons--darker">
              sign in
            </button>
            <button class="main__section__left__buttons--lighter">
              learn more
            </button>
          </div>
          <!--  FINE BOTTONI -->

          <!--  INIZO COUNNT DOWN DIV -->
          <div class="main__section__left__countdown">
            <!-- COUNNT DOWN TEXT -->
            <div class="main__section__left__countdown--text">
              <span>Forging ⚒️ event ends in:</span>
            </div>

            <!-- COUNNT DOWN FUNC DISPLAY -->
            <div class="main__section__left__countdown--items">
              <!-- INIZIO DIV ITEMS -->

              <!-- INIZIO DIV CHILD -->
              <div class="main__section__left__countdown--items-item">
                <div class="main__section__left__countdown--items-item-number">
                  03
                </div>
                <div class="main__section__left__countdown--items-item-text">
                  Days
                </div>
              </div>
              <!-- FINE DIV CHILD -->

              <div class="main__section__left__countdown--items-slash"></div>

              <!-- INIZIO DIV CHILD -->
              <div class="main__section__left__countdown--items-item">
                <div class="main__section__left__countdown--items-item-number">
                  03
                </div>
                <div class="main__section__left__countdown--items-item-text">
                  Hours
                </div>
              </div>
              <!-- FINE DIV CHILD -->
              <div class="main__section__left__countdown--items-slash"></div>

              <!-- INIZIO DIV CHILD -->
              <div class="main__section__left__countdown--items-item">
                <div class="main__section__left__countdown--items-item-number">
                  03
                </div>
                <div class="main__section__left__countdown--items-item-text">
                  Minutes
                </div>
              </div>
              <!-- FINE DIV CHILD -->
              <!-- FINE DIV ITEMS -->
            </div>
          </div>
          <!-- FINE COUNT DOWN -->
        </div>
        <!-- FINE SEZIONE LEFT -->

        <!-- INIZIO  RIGHT -->
        <div class="main__section__right">
          <!-- INIZIO CARD -->
          <div class="main__section__right__card">
            <!-- SEZIONE SUPERIORE -->
            <div class="main__section__right__card--up">
              <div class="main__section__right__card--up-video">
                <video id="videoElement" autoplay muted loop plays-inline>
                  <source
                    src="../../Asset/Video/Card-Main.mp4"
                    type="video/mp4"
                  />
                </video>
              </div>
              <div class="main__section__right__card--up-text">
                <img
                  src="../../Asset/image/logo-card-text-main-section.png"
                  alt=""
                />
                <span> @rtfkt x rimowa</span>
              </div>
            </div>
            <!--  SEZIONE INFERIORE -->
            <div class="main__section__right__card--bottom">
              <div class="main__section__right__card--bottom-title">
                @RTFKT x RIMOWA "Meta-Artisan"
              </div>
              <div class="main__section__right__card--bottom-description">
                1/389
              </div>
            </div>
          </div>
          <!-- FINE CARD -->
        </div>
      </div>
    </main>
    <!--Fine Card Main Section-->

    <script src="../navbar/dropdown.js"></script>
  </body>
</html>
