@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("//db.onlinewebfonts.com/c/ebaf90e665954316d40b79a1c7c942c0?family=TT+Alientz+Grotesque");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("//db.onlinewebfonts.com/c/ebaf90e665954316d40b79a1c7c942c0?family=TT+Alientz+Grotesque");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("//db.onlinewebfonts.com/c/ebaf90e665954316d40b79a1c7c942c0?family=TT+Alientz+Grotesque");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("//db.onlinewebfonts.com/c/ebaf90e665954316d40b79a1c7c942c0?family=TT+Alientz+Grotesque");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("//db.onlinewebfonts.com/c/ebaf90e665954316d40b79a1c7c942c0?family=TT+Alientz+Grotesque");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("//db.onlinewebfonts.com/c/ebaf90e665954316d40b79a1c7c942c0?family=TT+Alientz+Grotesque");
@font-face {
  font-family: "TT Alientz Grotesque";
  src: url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.eot"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.woff") format("woff"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.svg#TT Alientz Grotesque") format("svg");
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #1f2028;
  font-family: "Montserrat";
}

@font-face {
  font-family: "TT Alientz Grotesque";
  src: url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.eot"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.woff") format("woff"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.svg#TT Alientz Grotesque") format("svg");
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #1f2028;
  font-family: "Montserrat";
}

body {
  background-color: #1f2028;
}

.navbar {
  padding: 0 24px;
  font-family: "Montserrat";
  color: white;
  font-weight: 700;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  max-width: 100%;
  height: 80px;
}
.navbar-left {
  display: flex;
  max-width: 100%;
}
.navbar-right {
  display: flex;
  justify-content: right;
  width: 100%;
}
.navbar-right__menu {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 24px;
}
.navbar-right__menu a {
  text-decoration: none;
  color: white;
}
.navbar-right__menu a:hover {
  color: #ced4da;
}
.navbar-right__menu-dropdown {
  position: relative;
}
.navbar-right__menu-dropdown a {
  font-size: inherit;
  font-weight: inherit;
  font-family: "Montserrat";
  background-color: transparent;
  border: none;
  color: white;
}
.navbar-right__menu-dropdown a img {
  transform: scale(0.9, 1.1);
}
.navbar-right__menu-dropdown #collections-link {
  height: 80px;
  display: flex;
  align-items: center;
  gap: 2px;
}
.navbar-right__menu-dropdown #floating-menu {
  align-items: center;
  text-align: center;
  min-width: 230px;
  border-radius: 20px;
  background-color: #272932;
  display: none;
  flex-direction: column;
  position: absolute;
  top: 65px;
  left: -20px;
  overflow: hidden;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1490196078) !important;
}
.navbar-right__menu-dropdown #floating-menu a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 100%;
}
.navbar-right__menu-dropdown #floating-menu.visible {
  display: flex;
}
.navbar-right__menu-dropdown #floating-menu > :hover {
  color: white;
  background-color: #5733f4;
}
.navbar-right__menu > :nth-child(5) span {
  font-size: inherit;
  font-weight: inherit;
  font-family: "Montserrat";
  background-color: #5733f4;
  border-radius: 24px;
  border: none;
  color: white;
  padding: 18px 20px;
}
.navbar-right__menu > :nth-child(5):hover {
  color: white;
  background-color: #5733f4;
}
.navbar-right__menu > :nth-child(6) {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
}
.navbar-right__menu > :nth-child(6) img {
  width: 32px;
  height: 18px;
}

@media screen and (min-width: 992px) {
  body .navbar .navbar-left .navbar-left__img :last-child {
    display: none;
  }
  body .navbar .navbar-right .navbar-right__menu :nth-child(6) {
    display: none;
  }
}
@media screen and (max-width: 991px) {
  body .navbar {
    height: 72px;
  }
  body .navbar-left {
    height: 51px;
  }
  body .navbar-left__img :first-child {
    display: none;
  }
  body .navbar-right {
    transform: none;
    height: 51px;
  }
  body .navbar-right__menu {
    gap: 7px;
    height: 51px;
  }
  body .navbar-right__menu > :nth-child(1),
  body .navbar-right__menu > :nth-child(2),
  body .navbar-right__menu > :nth-child(3),
  body .navbar-right__menu > :nth-child(4) {
    display: none;
  }
  body .navbar-right__menu > :nth-child(5) span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    padding: 0;
    width: 104.36px;
    border-radius: 25px;
  }
}
@font-face {
  font-family: "TT Alientz Grotesque";
  src: url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.eot"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.woff") format("woff"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.svg#TT Alientz Grotesque") format("svg");
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #1f2028;
  font-family: "Montserrat";
}

.main__section__left__buttons--darker, .main__section__left__buttons--lighter {
  font-family: "Montserrat";
  font-weight: 800;
  text-transform: uppercase;
  background-color: #5733f5;
  color: white;
  border: none;
  border-radius: 12px;
  padding: 0.95rem 1.25rem;
  white-space: nowrap;
}
.main__section__left__buttons--darker:hover, .main__section__left__buttons--lighter:hover {
  background-color: #5733f4;
  cursor: pointer;
}

.main__section__left__buttons--lighter {
  background-color: transparent;
  border: 1px solid #6c757d;
  color: white;
}
.main__section__left__buttons--lighter:hover {
  color: black;
  background-color: white;
  border-color: white;
}

@font-face {
  font-family: "TT Alientz Grotesque";
  src: url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.eot"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.woff") format("woff"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.svg#TT Alientz Grotesque") format("svg");
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #1f2028;
  font-family: "Montserrat";
}

@media only screen and (max-width: 1000px) {
  body .main__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
  body .main__section__left {
    width: 668px;
    margin: 0 auto;
  }
  body .main__section__left__countdown {
    display: none;
  }
  body .main__section__right__card {
    width: 688px;
  }
  body .main__section__right__card--up-video > video {
    width: 688px;
  }
}
.main__section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1350px;
  gap: 40px;
  margin: 0 auto;
}
.main__section__left {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: white;
}
.main__section__left__title {
  display: flex;
  flex-direction: column;
  line-height: 4rem;
}
.main__section__left__title--up {
  color: #5733f4;
  font-family: "Montserrat";
  font-weight: 700;
  line-height: 1rem;
}
.main__section__left__title > h1 {
  display: flex;
  flex-direction: column;
  font-family: "TT Alientz Grotesque";
}
.main__section__left__title > h1 span {
  font-size: 4rem;
  font-weight: 900;
}
.main__section__left__title--main {
  text-transform: uppercase;
}
.main__section__left__title--sub {
  font-size: 4rem;
  font-weight: 600;
  font-family: "Montserrat";
  line-height: 1rem;
  margin-bottom: 30px;
}
.main__section__left__buttons {
  display: flex;
  gap: 20px;
}
.main__section__left__countdown {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: "Montserrat";
}
.main__section__left__countdown--text {
  font-weight: 600;
  line-height: 1.2rem;
}
.main__section__left__countdown--items {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.main__section__left__countdown--items-slash {
  height: 2rem;
  background-color: #6c757d;
  width: 1px;
}
.main__section__left__countdown--items-item-number {
  font-size: 1.3rem;
  font-weight: 600;
}
.main__section__left__countdown--items-item-text {
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1.2rem;
  color: #6c757d;
}
.main__section__right {
  display: flex;
}
.main__section__right__card {
  max-width: 1350px;
  color: white;
  font-family: "Montserrat";
  display: flex;
  flex-direction: column;
  background-color: #272932;
  border-radius: 1rem;
}
.main__section__right__card--up-video {
  position: relative;
  max-width: 406px;
}
.main__section__right__card--up-video > video {
  width: 100%;
  border-radius: 1rem;
}
.main__section__right__card--up-video > video:hover {
  box-shadow: 0px 100px 47px -47px #0b325e;
  cursor: pointer;
}
.main__section__right__card--up-text {
  color: black;
  font-weight: 500;
  white-space: nowrap;
  padding-inline: 20px;
  padding-block: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat";
  background-color: white;
  position: absolute;
  border-radius: 1rem;
  bottom: 10;
  left: 10;
  box-shadow: 2px 5px 16px 0px #0b325e, -2px 2px 2px 5px rgba(0, 0, 0, 0);
}
.main__section__right__card--up-text:hover {
  cursor: pointer;
}
.main__section__right__card--up-text > img {
  width: 2rem;
}
.main__section__right__card--bottom {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px 15px;
  gap: 5px;
}

@font-face {
  font-family: "TT Alientz Grotesque";
  src: url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.eot"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.woff") format("woff"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.svg#TT Alientz Grotesque") format("svg");
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #1f2028;
  font-family: "Montserrat";
}

section {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}
section > h2 {
  font-family: "Montserrat";
  margin: 2rem 5rem;
  color: #dee2e6;
  font-size: 1rem;
}

.container {
  display: inline-flex;
  max-width: 1350px;
  width: 100%;
  margin: 0 auto;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1490196078);
  border-radius: 1.5rem;
}

.card {
  display: inline-flex;
  flex-direction: row;
  background-color: #272932;
  border-radius: 1.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1490196078);
}
.card .img {
  width: 75%;
  display: block;
  position: relative;
}
.card .forgive-img {
  border-radius: 1.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1490196078);
  max-width: 100%;
  height: 100%;
  position: relative;
}
.card .text-right {
  padding: 2rem 2.5rem;
  width: 25%;
  display: block;
  margin: 1rem 6rem;
}
.card .text-right > h2 {
  color: #e9ecef;
  font-family: "Montserrat";
  font-size: 18px;
  margin-bottom: 1rem;
}
.card .text-right p {
  color: #b5b5b8;
  font-family: "Montserrat";
  font-size: 14px;
  margin-bottom: 3rem;
  letter-spacing: 0.5px;
}
.card .footer {
  display: flex;
  flex-direction: column;
}
.card .footer > .input {
  width: 100%;
  height: 100%;
  max-height: 45px;
  padding: 13px 1rem;
  background: transparent;
  outline: none;
  border: 0.5px solid #dee2e6;
  border-radius: 16px;
  color: white;
  font-size: 12px;
  font-family: Montserrat, serif;
  margin-bottom: 1rem;
}
.card .footer > .input:focus {
  border: 0.5px solid #5733f5;
}
.card .footer > .check-it {
  background-color: white;
  font-family: "Montserrat";
  font-weight: bold;
  border-radius: 15px;
  padding: 14px;
  width: 55%;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.5px;
}
.card .footer > .check-it:hover {
  cursor: pointer;
  background-color: #dee2e6;
}

@media screen and (max-width: 991px) {
  section {
    max-width: 688px;
    max-height: 670px;
  }
  .container {
    width: 100%;
    max-height: 100%;
    height: 300px;
    margin: 0;
    display: block;
    flex-direction: row;
  }
  .card {
    display: block;
    width: 100%;
  }
  .card .img {
    display: block;
    width: 100%;
    height: 120%;
  }
  .card .img > .forgive-img {
    width: 100%;
  }
  .card .text-right {
    width: 95%;
    margin: 0;
    padding: 1rem;
  }
  .card .text-right > p {
    margin-bottom: 1rem;
  }
  .card .text-right > .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .card .text-right > .footer > .input {
    width: 100%;
    padding: 17px 1rem;
    font-size: 15px;
  }
  .card .text-right > .footer > .check-it {
    width: 100%;
    padding: 14px;
    font-size: 15px;
  }
}
@font-face {
  font-family: "TT Alientz Grotesque";
  src: url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.eot"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.woff") format("woff"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.svg#TT Alientz Grotesque") format("svg");
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #1f2028;
  font-family: "Montserrat";
}

.-shop-card-homepage {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.--shop--card {
  background-color: #272932;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  color: #e9ecef;
  border-radius: 1rem;
  width: 350px;
}
.--shop--card-title {
  width: 95%;
  margin: 0 auto;
  display: flex;
  gap: 10px;
  font-weight: 700;
  align-items: center;
  padding-top: 10px;
}
.--shop--card-title img {
  width: 30px;
  border-radius: 50%;
}
.--shop--card-vid {
  width: 95%;
  margin-inline: auto;
}
.--shop--card-vid video {
  width: 100%;
  border-radius: 1rem;
}
.--shop--card-vid video:hover {
  cursor: pointer;
  box-shadow: 0px 0px 80px 1px #0B325E;
}
.--shop--card-footer {
  width: 95%;
  margin: 0 auto;
  padding-bottom: 40px;
  font-weight: 600;
}
.--shop--card-footer-description {
  font-size: 0.8rem;
  color: #b5b5b8;
}/*# sourceMappingURL=index.css.map */