@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("//db.onlinewebfonts.com/c/ebaf90e665954316d40b79a1c7c942c0?family=TT+Alientz+Grotesque");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("//db.onlinewebfonts.com/c/ebaf90e665954316d40b79a1c7c942c0?family=TT+Alientz+Grotesque");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("//db.onlinewebfonts.com/c/ebaf90e665954316d40b79a1c7c942c0?family=TT+Alientz+Grotesque");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("//db.onlinewebfonts.com/c/ebaf90e665954316d40b79a1c7c942c0?family=TT+Alientz+Grotesque");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("//db.onlinewebfonts.com/c/ebaf90e665954316d40b79a1c7c942c0?family=TT+Alientz+Grotesque");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("//db.onlinewebfonts.com/c/ebaf90e665954316d40b79a1c7c942c0?family=TT+Alientz+Grotesque");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("//db.onlinewebfonts.com/c/ebaf90e665954316d40b79a1c7c942c0?family=TT+Alientz+Grotesque");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("//db.onlinewebfonts.com/c/ebaf90e665954316d40b79a1c7c942c0?family=TT+Alientz+Grotesque");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("//db.onlinewebfonts.com/c/ebaf90e665954316d40b79a1c7c942c0?family=TT+Alientz+Grotesque");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("//db.onlinewebfonts.com/c/ebaf90e665954316d40b79a1c7c942c0?family=TT+Alientz+Grotesque");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("//db.onlinewebfonts.com/c/ebaf90e665954316d40b79a1c7c942c0?family=TT+Alientz+Grotesque");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("//db.onlinewebfonts.com/c/ebaf90e665954316d40b79a1c7c942c0?family=TT+Alientz+Grotesque");
@font-face {
  font-family: "TT Alientz Grotesque";
  src: url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.eot"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.woff") format("woff"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.svg#TT Alientz Grotesque") format("svg");
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #1f2028;
  font-family: "Montserrat";
}

@font-face {
  font-family: "TT Alientz Grotesque";
  src: url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.eot"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.woff") format("woff"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.svg#TT Alientz Grotesque") format("svg");
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #1f2028;
  font-family: "Montserrat";
}

body {
  background-color: #1f2028;
}

nav {
  position: relative;
}
nav .navbar {
  display: flex;
  align-items: center;
  padding: 0 24px;
  height: 80px;
  font-family: "Montserrat";
  color: white;
  font-size: 0.83rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}
nav .navbar a {
  transform: scale(1, 0.9);
}
nav .navbar-right {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 100%;
  gap: 26px;
  height: 100%;
}
nav .navbar-right__menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 26px;
  height: 100%;
}
nav .navbar-right__menu a {
  text-decoration: none;
  color: white;
}
nav .navbar-right__menu a:hover {
  color: #ced4da;
}
nav .navbar-right__menu-dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: -moz-fit-content;
  width: fit-content;
}
nav .navbar-right__menu-dropdown a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 17px 0;
}
nav .navbar-right__menu-dropdown a img {
  transform: scale(0.9, 1.1);
}
nav .navbar-right__menu-dropdown--collections {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2px;
}
nav .navbar-right__menu-dropdown--floating {
  z-index: 1;
  position: absolute;
  z-index: 1;
  align-items: center;
  text-align: center;
  min-width: 228px;
  border-radius: 20px;
  background-color: #272932;
  display: none;
  flex-direction: column;
  top: 78px;
  right: 150px;
  overflow: hidden;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1490196078);
}
nav .navbar-right__menu-dropdown--floating a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
nav .navbar-right__menu-dropdown--floating a:hover {
  color: white;
  background-color: #5733f4;
}
nav .navbar-right__menu-dropdown:hover .navbar-right__menu-dropdown--floating {
  display: flex;
}
nav .navbar-right__menu--modal {
  display: none;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding: 60px 24px 18px 24px;
  justify-content: space-between;
  height: calc(100vh - 72px);
}
nav .navbar-right__menu--modal .modal-menuTop {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
nav .navbar-right__menu--modal .modal-menuTop a {
  transform: scale(1, 0.9);
  text-decoration: none;
  font-family: "Montserrat";
  color: white;
  font-size: 2.4rem;
  font-weight: 700;
}
nav .navbar-right__menu--modal .modal-menuTop a:hover {
  color: #ced4da;
}
nav .navbar-right__menu--modal .modal-menuTop > :nth-child(3) {
  gap: 10px;
}
nav .navbar-right__menu--modal .modal-menuTop > :nth-child(3) img {
  transform: rotate(270deg);
}
nav .navbar-right__menu--modal .modal-menuBottom {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
nav .navbar-right__menu--modal .modal-menuBottom p {
  font-family: "Montserrat";
  color: #6c757d;
  font-size: 0.8rem;
  font-weight: 700;
  transform: none;
}
nav .navbar-right__menu--modal .modal-menuBottom__links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
nav .navbar-right__menu--modal .modal-menuBottom__links a {
  text-decoration: none;
  font-family: "Montserrat";
  color: white;
  font-size: 1.05rem;
  font-weight: 500;
}
nav .navbar-right__menu--modal .modal-menuBottom__links a:hover {
  color: #ced4da;
}
nav .navbar-right__menu--modal button {
  font-family: "Montserrat";
  width: 100%;
  height: 3rem;
  font-weight: 700;
  font-size: 0.75rem;
  color: white;
  background-color: #5733f4;
  border-radius: 24px;
  border: none;
  cursor: pointer;
}
nav .navbar-right__menu--modal button:hover {
  color: white;
  background-color: #5733f4;
}
nav .navbar-right__signIn-button {
  display: flex;
  gap: 20px;
}
nav .navbar-right__signIn-button--signIn {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 0.75rem;
  color: white;
  background-color: #5733f4;
  border-radius: 24px;
  border: none;
  height: 100%;
  padding: 14px 24px;
  cursor: pointer;
}
nav .navbar-right__signIn-button--signIn span {
  font-size: 0.95rem;
}
nav .navbar-right__signIn-button--signIn:hover {
  color: white;
  background-color: #5733f4;
}
nav .navbar-right__signIn-button--open {
  display: none;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}
nav .navbar-right__signIn-button--close {
  display: none;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  nav .navbar {
    padding: 11px 24px;
    height: 51px;
  }
  nav .navbar-left__img :first-child img {
    display: none;
  }
  nav .navbar-right__menu {
    display: none;
  }
  nav .navbar-right__signIn-button--open {
    display: block;
  }
}
@media screen and (min-width: 1000px) {
  nav .navbar-left__img :last-child img {
    display: none;
  }
}
@font-face {
  font-family: "TT Alientz Grotesque";
  src: url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.eot"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.woff") format("woff"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.svg#TT Alientz Grotesque") format("svg");
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #1f2028;
  font-family: "Montserrat";
}

.main__section__left__buttons--darker, .main__section__left__buttons--lighter {
  font-family: "Montserrat";
  font-weight: 800;
  text-transform: uppercase;
  background-color: #5733f5;
  color: white;
  border: none;
  border-radius: 12px;
  padding: 0.95rem 1.25rem;
  white-space: nowrap;
}
.main__section__left__buttons--darker:hover, .main__section__left__buttons--lighter:hover {
  background-color: #5733f4;
  cursor: pointer;
}

.main__section__left__buttons--lighter {
  background-color: transparent;
  border: 1px solid #6c757d;
  color: white;
}
.main__section__left__buttons--lighter:hover {
  color: black;
  background-color: white;
  border-color: white;
}

@font-face {
  font-family: "TT Alientz Grotesque";
  src: url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.eot"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.woff") format("woff"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.svg#TT Alientz Grotesque") format("svg");
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #1f2028;
  font-family: "Montserrat";
}

@media only screen and (max-width: 1000px) {
  body .main__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
  body .main__section__left {
    width: 668px;
    margin: 0 auto;
  }
  body .main__section__left__countdown {
    display: none;
  }
  body .main__section__right__card {
    width: 688px;
  }
  body .main__section__right__card--up-video > video {
    width: 688px;
  }
}
.main__section {
  z-index: 2;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1350px;
  z-index: 2;
  gap: 40px;
  margin: 0 auto;
}
.main__section__left {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: white;
}
.main__section__left__title {
  display: flex;
  flex-direction: column;
  line-height: 4rem;
}
.main__section__left__title--up {
  color: #5733f4;
  font-family: "Montserrat";
  font-weight: 700;
  line-height: 1rem;
}
.main__section__left__title > h1 {
  display: flex;
  flex-direction: column;
  font-family: "TT Alientz Grotesque";
}
.main__section__left__title > h1 span {
  font-size: 4rem;
  font-weight: 900;
}
.main__section__left__title--main {
  text-transform: uppercase;
}
.main__section__left__title--sub {
  font-size: 4rem;
  font-weight: 600;
  font-family: "Montserrat";
  line-height: 1rem;
  margin-bottom: 30px;
}
.main__section__left__buttons {
  display: flex;
  gap: 20px;
}
.main__section__left__countdown {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: "Montserrat";
}
.main__section__left__countdown--text {
  font-weight: 600;
  line-height: 1.2rem;
}
.main__section__left__countdown--items {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.main__section__left__countdown--items-slash {
  height: 2rem;
  background-color: #6c757d;
  width: 1px;
}
.main__section__left__countdown--items-item-number {
  font-size: 1.3rem;
  font-weight: 600;
}
.main__section__left__countdown--items-item-text {
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1.2rem;
  color: #6c757d;
}
.main__section__right {
  display: flex;
}
.main__section__right__card {
  max-width: 1350px;
  color: white;
  font-family: "Montserrat";
  display: flex;
  flex-direction: column;
  background-color: #272932;
  border-radius: 1rem;
}
.main__section__right__card--up-video {
  position: relative;
  max-width: 406px;
}
.main__section__right__card--up-video > video {
  width: 100%;
  border-radius: 1rem;
}
.main__section__right__card--up-video > video:hover {
  box-shadow: 0px 100px 47px -47px #0b325e;
  cursor: pointer;
}
.main__section__right__card--up-text {
  color: black !important;
  font-weight: 500;
  white-space: nowrap;
  padding-inline: 20px;
  padding-block: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat";
  background-color: white;
  position: absolute;
  border-radius: 1rem;
  bottom: 10;
  left: 10;
  box-shadow: 2px 5px 16px 0px #0b325e, -2px 2px 2px 5px rgba(0, 0, 0, 0);
}
.main__section__right__card--up-text:hover {
  cursor: pointer;
}
.main__section__right__card--up-text > img {
  width: 2rem;
}
.main__section__right__card--bottom {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px 15px;
  gap: 5px;
}

@font-face {
  font-family: "TT Alientz Grotesque";
  src: url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.eot"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.woff") format("woff"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.svg#TT Alientz Grotesque") format("svg");
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #1f2028;
  font-family: "Montserrat";
}

body {
  background-color: #1f2028;
}

.private-mint-checker-section {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1350px;
}
.private-mint-checker-section > h2 {
  font-family: "Montserrat";
  margin: 2rem 0;
  color: #dee2e6;
  font-size: 1rem;
}

.container {
  display: inline-flex;
  max-width: 1350px;
  width: 100%;
  margin: 0 auto;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1490196078);
  border-radius: 1.5rem;
}

.card {
  display: inline-flex;
  flex-direction: row;
  background-color: #272932;
  border-radius: 1.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1490196078);
}
.card .img {
  width: 75%;
  display: block;
  position: relative;
}
.card .forgive-img {
  border-radius: 1.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1490196078);
  max-width: 100%;
  height: 100%;
  position: relative;
}
.card .text-right {
  padding: 2rem 2.5rem;
  width: 25%;
  display: block;
  margin: 1rem 6rem;
}
.card .text-right > h2 {
  color: #e9ecef;
  font-family: "Montserrat";
  font-size: 18px;
  margin-bottom: 1rem;
}
.card .text-right p {
  color: #b5b5b8;
  font-family: "Montserrat";
  font-size: 14px;
  margin-bottom: 3rem;
  letter-spacing: 0.5px;
}
.card .footer {
  display: flex;
  flex-direction: column;
}
.card .footer > .input {
  width: 100%;
  height: 100%;
  max-height: 45px;
  padding: 13px 1rem;
  background: transparent;
  outline: none;
  border: 0.5px solid #dee2e6;
  border-radius: 16px;
  color: white;
  font-size: 12px;
  font-family: Montserrat, serif;
  margin-bottom: 1rem;
}
.card .footer > .input:focus {
  border: 0.5px solid #5733f5;
}
.card .footer > .check-it {
  background-color: white;
  font-family: "Montserrat";
  font-weight: bold;
  border-radius: 15px;
  padding: 14px;
  width: 55%;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.5px;
}
.card .footer > .check-it:hover {
  cursor: pointer;
  background-color: #dee2e6;
}

@media screen and (max-width: 1000px) {
  .private-mint-checker-section {
    max-width: 688px;
    margin: 0 auto;
  }
  .private-mint-checker-section h2 {
    margin-left: 0;
  }
  .container {
    width: 100%;
    max-height: 100%;
    margin: 0;
    display: block;
    flex-direction: row;
  }
  .card {
    display: block;
    width: 100%;
  }
  .card .img {
    display: block;
    width: 100%;
    height: 120%;
  }
  .card .img > .forgive-img {
    width: 100%;
  }
  .card .text-right {
    width: 95%;
    margin: 0;
    padding: 1rem;
  }
  .card .text-right > p {
    margin-bottom: 1rem;
  }
  .card .text-right > .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .card .text-right > .footer > .input {
    width: 100%;
    padding: 17px 1rem;
    font-size: 15px;
  }
  .card .text-right > .footer > .check-it {
    width: 100%;
    padding: 14px;
    font-size: 15px;
  }
}
@font-face {
  font-family: "TT Alientz Grotesque";
  src: url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.eot"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.woff") format("woff"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.svg#TT Alientz Grotesque") format("svg");
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #1f2028;
  font-family: "Montserrat";
}

@media only screen and (max-width: 991px) {
  body .section {
    max-width: 668px;
    margin: 0 auto;
  }
  body .section__shop {
    grid-template-columns: repeat(2, 1fr);
  }
}
.section {
  width: 1350px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.section__title {
  text-transform: uppercase;
  color: #e9ecef;
  font-size: 1rem;
}
.section__shop {
  gap: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.section__shop__card {
  background-color: #272932;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  color: #e9ecef;
  border-radius: 1rem;
  flex: 1 0 30%;
}
.section__shop__card-title {
  width: 95%;
  margin: 0 auto;
  display: flex;
  gap: 10px;
  font-weight: 700;
  align-items: center;
  padding-top: 10px;
}
.section__shop__card-title img {
  width: 30px;
  border-radius: 50%;
}
.section__shop__card-vid {
  width: 95%;
  margin-inline: auto;
}
.section__shop__card-vid video {
  width: 100%;
  border-radius: 1rem;
}
.section__shop__card-vid video:hover {
  cursor: pointer;
  box-shadow: 0px 0px 80px 1px #0b325e;
}
.section__shop__card-footer {
  width: 95%;
  margin: 0 auto;
  padding-bottom: 40px;
  font-weight: 600;
}
.section__shop__card-footer-description {
  font-size: 0.8rem;
  color: #b5b5b8;
}
.section > button {
  background-color: transparent;
  border: 1px solid #6c757d;
  margin: 0 auto;
  text-transform: uppercase;
  width: 100%;
  max-width: 555px;
  padding: 10px;
  border-radius: 1rem;
  color: white;
  font-weight: 600;
}
.section > button:hover {
  background-color: white;
  color: black;
}

@font-face {
  font-family: "TT Alientz Grotesque";
  src: url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.eot"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.woff") format("woff"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.svg#TT Alientz Grotesque") format("svg");
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #1f2028;
  font-family: "Montserrat";
}

body {
  background-color: #1f2028;
}

.discord-banner-section {
  margin: 0 auto;
  border-radius: 15px;
  background-image: linear-gradient(to right, transparent, rgb(39, 41, 50) 68%), url(../../Asset/image/Grid2x.png);
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.3);
  background-size: cover;
  max-width: 1380px;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.discord-banner-section--conteriner {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 15px;
  max-height: 100%;
  padding: 2rem;
}
.discord-banner-section--conteriner .discord-banner-section--conteriner--left {
  display: flex;
  flex-direction: column;
  width: 30%;
  justify-content: center;
  gap: 2rem;
  padding: 1.7rem 0.5rem;
  padding-left: 1rem;
}
.discord-banner-section--conteriner .discord-banner-section--conteriner--left .discord-button1 {
  border-radius: 1rem;
  padding: 15px;
  border: none;
  font-weight: bold;
  width: 52%;
  letter-spacing: 0.5px;
}
.discord-banner-section--conteriner .discord-banner-section--conteriner--left .discord-button1:hover {
  cursor: pointer;
}
.discord-banner-section--conteriner .discord-banner-section--conteriner--left .discord-banner-section--conteriner--left--text {
  display: flex;
  text-align: flex-start;
}
.discord-banner-section--conteriner .discord-banner-section--conteriner--left .discord-banner-section--conteriner--left--text h2 {
  font-size: 33px;
  font-weight: 500;
  margin: 0 auto;
  padding-top: 0.5rem;
  color: white;
}
.discord-banner-section--conteriner .discord-banner-section--conteriner--left .discord-banner-section--conteriner--left--text span {
  font-family: "TT Alientz Grotesque";
  color: white;
}
.discord-banner-section--conteriner .discord-banner-center {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 27%;
  position: relative;
  padding-bottom: 5rem;
}
.discord-banner-section--conteriner .discord-banner-center .discord-banner-center-image {
  display: flex;
  text-align: center;
  width: 100%;
  position: absolute;
  left: 4rem;
  top: -0.5rem;
}
.discord-banner-section--conteriner .creator {
  width: 60%;
  background: radial-gradient(#5733f5, transparent 65%);
}
.discord-banner-section--conteriner .creator:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.discord-banner-section--conteriner .discord-banner-section--conteiner--right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding-right: 1rem;
  padding-top: 1.3rem;
  width: 30%;
}
.discord-banner-section--conteriner .discord-banner-section--conteiner--right > p {
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 12px;
  margin: 0;
  color: white;
}
.discord-banner-section--conteriner .discord-banner-section--conteiner--right discord-banner-winner {
  display: block;
  padding-right: 2px;
}
.discord-banner-section--conteriner .discord-banner-section--conteiner--right .disable {
  display: none;
}
.discord-banner-section--conteriner .discord-banner-section--conteiner--right .discord-banner-winners-first {
  display: flex;
  gap: 10px;
  align-items: center;
  background: linear-gradient(100deg, rgb(102, 88, 53) 20%, rgb(39, 41, 50) 100%);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1490196078);
  border: 0.5px;
  border-radius: 25px;
  width: 100%;
  padding: 5px;
}
.discord-banner-section--conteriner .discord-banner-section--conteiner--right .discord-banner-winners-first .discord-winners-number {
  background-color: rgb(245, 206, 108);
  padding: 11px;
  border-radius: 19px;
  font-family: "TT Alientz Grotesque";
  font-size: 25px;
  color: white;
}
.discord-banner-section--conteriner .discord-banner-section--conteiner--right .logo {
  width: 10%;
  border-radius: 50%;
}
.discord-banner-section--conteriner .discord-banner-section--conteiner--right .discord-banner-winners-firs-info-tag {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: white;
}
.discord-banner-section--conteriner .discord-banner-section--conteiner--right .discord-banner-winners-second {
  display: flex;
  gap: 10px;
  align-items: center;
  background: linear-gradient(90deg, rgb(70, 70, 93) 0%, rgb(39, 41, 50) 100%);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1490196078);
  border: 0.5px;
  border-radius: 25px;
  width: 100%;
  padding: 5px;
}
.discord-banner-section--conteriner .discord-banner-section--conteiner--right .discord-banner-winners-second .discord-winners-number {
  background-color: #a3a2aa;
  padding: 11px;
  border-radius: 19px;
  font-family: "TT Alientz Grotesque";
  font-size: 25px;
  color: white;
}
.discord-banner-section--conteriner .discord-banner-section--conteiner--right .logo {
  width: 10%;
  border-radius: 50%;
}
.discord-banner-section--conteriner .discord-banner-section--conteiner--right .discord-banner-winners-firs-info-tag {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.discord-banner-section--conteriner .discord-banner-winners-third {
  display: flex;
  gap: 10px;
  align-items: center;
  background: linear-gradient(90deg, rgb(57, 42, 29) 0%, rgb(40, 40, 52) 100%);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1490196078);
  border: 0.5px;
  border-radius: 25px;
  width: 100%;
  padding: 5px;
}
.discord-banner-section--conteriner .discord-banner-winners-third .discord-winners-number {
  background-color: #a27c59;
  padding: 11px;
  border-radius: 19px;
  font-family: "TT Alientz Grotesque";
  font-size: 25px;
  color: white;
}
.discord-banner-section--conteriner .logo {
  width: 10%;
  border-radius: 50%;
}
.discord-banner-section--conteriner .discord-banner-winners-firs-info-tag {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media screen and (max-width: 992px) {
  .discord-banner-section {
    max-width: 688px;
    background-image: linear-gradient(to bottom, transparent, rgb(39, 41, 50) 68%), url(../../Asset/image/Grid2x.png);
  }
  .discord-banner-section--conteriner {
    display: block;
    flex-direction: column;
    margin: 0 auto;
    max-height: 780px;
  }
  .discord-banner-section--conteriner .discord-banner-section--conteriner--left {
    display: block;
    flex-direction: column;
    width: 100%;
    padding: 0;
  }
  .discord-banner-section--conteriner .discord-banner-section--conteriner--left .discord-button1 {
    display: none;
  }
  .discord-banner-section--conteriner .discord-banner-center {
    max-width: 550px;
    max-height: 353px;
    height: 100%;
    width: 100%;
    padding: 0;
  }
  .discord-banner-section--conteriner .discord-banner-center-image {
    padding: 0;
    justify-content: center;
    margin: 0 auto;
  }
  .discord-banner-section--conteriner .discord-banner-center-image .creator {
    width: 35%;
    position: absolute;
    top: 50px;
    left: 147px;
  }
  .discord-banner-section--conteriner .discord-banner-section--conteiner--right {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .discord-banner-section--conteriner .discord-banner-section--conteiner--right > p {
    letter-spacing: 0.5px;
    color: white;
  }
  .discord-banner-section--conteriner .discord-banner-section--conteiner--right .discord-banner-winners-first {
    width: 100%;
  }
  .discord-banner-section--conteriner .discord-banner-section--conteiner--right .discord-banner-winners-first .logo {
    width: 10%;
    color: white;
  }
  .discord-banner-section--conteriner .discord-banner-section--conteiner--right .disable {
    display: flex;
    justify-content: center;
    padding: 15px;
    border-radius: 15px;
    border: none;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0.5px;
  }
}
@font-face {
  font-family: "TT Alientz Grotesque";
  src: url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.eot"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.woff") format("woff"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.svg#TT Alientz Grotesque") format("svg");
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #1f2028;
  font-family: "Montserrat";
}

@font-face {
  font-family: "TT Alientz Grotesque";
  src: url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.eot"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.woff") format("woff"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.svg#TT Alientz Grotesque") format("svg");
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #1f2028;
  font-family: "Montserrat";
}

body {
  background-color: #1f2028;
  margin: 0;
}

.who-we-are-section-container {
  margin: 0 auto;
  max-width: 1350px;
}
.who-we-are-section-container > h2 {
  font-family: "Montserrat";
  font-size: 20px;
  color: #dee2e6;
  margin-left: 2rem;
}

#whoWeAre-Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
}
#whoWeAre-Container .whoWeAre-text {
  font-family: "Montserrat";
  display: flex;
  text-align: center;
  font-size: 30px;
}
#whoWeAre-Container .whoWeAre-text p {
  font-weight: 500;
}
#whoWeAre-Container .whoWeAre-text span {
  font-family: "TT Alientz Grotesque";
  color: #dee2e6;
  cursor: pointer;
}
#whoWeAre-Container .whoWeAre-text span:hover {
  -webkit-text-decoration: underline #6610f2;
          text-decoration: underline #6610f2;
  cursor: pointer;
  z-index: 1;
}
#whoWeAre-Container .whoWeAre-text .pic:hover {
  z-index: 1;
}
#whoWeAre-Container .whoWeAre-text #picHover,
#whoWeAre-Container .whoWeAre-text #picHover1,
#whoWeAre-Container .whoWeAre-text #picHover2,
#whoWeAre-Container .whoWeAre-text #picHover3,
#whoWeAre-Container .whoWeAre-text #picHover4,
#whoWeAre-Container .whoWeAre-text #picHover5,
#whoWeAre-Container .whoWeAre-text #picHover6,
#whoWeAre-Container .whoWeAre-text #picHover7,
#whoWeAre-Container .whoWeAre-text #picHover8 {
  position: absolute;
  border-radius: 1rem;
  max-width: 260px;
  opacity: 20;
}
#whoWeAre-Container .whoWeAre-text #picHover {
  transform: rotate(-8deg);
}

@media screen and (max-width: 991px) {
  .who-we-are-section-container {
    max-width: 650px;
  }
}
@font-face {
  font-family: "TT Alientz Grotesque";
  src: url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.eot"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.woff") format("woff"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.svg#TT Alientz Grotesque") format("svg");
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #1f2028;
  font-family: "Montserrat";
}

#footer {
  background-color: #1c1d23;
  display: flex;
  flex-direction: column;
}
#footer #footer2 {
  display: flex;
  width: 80%;
  max-width: 1450px;
  margin: 0 auto;
  padding-top: 25px;
  font-family: "Montserrat", sans-serif;
}
#footer #footer2 #left-side {
  width: 70%;
}
#footer #footer2 #left-side #we-are-creator {
  width: 60%;
  color: #b5b5b8;
  font-size: 15px;
}
#footer #footer2 #anchor-faq {
  display: flex;
  flex-direction: column;
  width: 17%;
  gap: 10px;
}
#footer #footer2 #anchor-faq .a-hover {
  color: white;
  text-decoration: none;
}
#footer #footer2 #anchor-faq .a-hover:hover {
  color: #6c757d;
}
#footer #footer2 #anchor-social {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#footer #footer2 #anchor-social .a-hover {
  text-decoration: none;
  color: white;
  width: 90%;
}
#footer #footer2 #anchor-social .a-hover:hover {
  color: #6c757d;
}
#footer #bottom-section-para {
  padding-top: 65px;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
}
#footer #bottom-section-para #para1 {
  width: 70%;
  margin: 0 auto;
  color: #6c757d;
  display: flex;
  justify-content: center;
  font-size: 12px;
}
#footer #bottom-section-para #para2 {
  color: #6c757d;
  margin: 0 auto;
  font-size: 13px;
}

@media screen and (max-width: 1000px) {
  #footer {
    width: 100%;
    margin: 0 auto;
  }
  #footer #footer2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  #footer #footer2 #left-side {
    width: 100%;
  }
  #footer #footer2 #left-side #we-are-creator {
    width: 100%;
  }
  #footer #footer2 #anchor-faq {
    width: 100%;
  }
  #footer #footer2 #anchor-social {
    display: flex;
    padding-top: 20px;
  }
  #footer #footer2 #anchor-social .a-hover {
    border: 1px solid rgba(114, 114, 134, 0.55);
    border-radius: 10px;
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #footer #footer2 #anchor-social .a-hover:hover {
    color: black;
    background-color: white;
  }
}
@font-face {
  font-family: "TT Alientz Grotesque";
  src: url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.eot"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.woff") format("woff"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.svg#TT Alientz Grotesque") format("svg");
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #1f2028;
  font-family: "Montserrat";
}

body {
  background-color: #1f2028;
}

.try-them-on {
  display: flex;
  flex-direction: column;
  padding: 0 24px;
}
.try-them-on .section-name {
  display: flex;
  color: white;
}
.try-them-on .section-name h2 {
  font-size: 1rem;
  margin: 0 0 2rem 0;
}
.try-them-on__cards-container {
  display: flex;
  justify-content: center;
}
.try-them-on__cards-container .try-them-on__snap-card {
  display: flex;
  width: 100%;
  border-radius: 1rem;
  padding: 1rem;
  height: 100%;
  box-sizing: border-box;
  background-color: #272932;
}
.try-them-on__cards-container .try-them-on__snap-card--title {
  display: flex;
}
.try-them-on__cards-container .try-them-on__snap-card--title a {
  color: white;
  text-decoration: none;
  font-size: 0.75rem;
  font-weight: 600;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}
.try-them-on__cards-container .try-them-on__snap-card--media {
  position: relative;
  width: 100%;
}
.try-them-on__cards-container .try-them-on__snap-card--media .display-video {
  display: flex;
  height: 100%;
}
.try-them-on__cards-container .try-them-on__snap-card--media .display-video video {
  margin: 0 0 0 15%;
  border-radius: 1rem;
  max-width: 100%;
  cursor: pointer;
  -o-object-fit: cover;
     object-fit: cover;
}
.try-them-on__cards-container .try-them-on__snap-card--media img {
  display: flex;
  position: absolute;
  top: calc(50% - 1rem - 57px);
  left: -1.25rem;
  vertical-align: middle;
  height: 114px;
  width: 114px;
  cursor: pointer;
}

@media screen and (min-width: 1440px) {
  .try-them-on {
    display: flex;
    align-items: center;
  }
  .try-them-on .section-name {
    display: flex;
    align-items: left;
    width: 1424px;
  }
  .try-them-on__cards-container {
    width: 1440px;
    height: 663.359px;
  }
  .try-them-on__cards-container .try-them-on__snap-card {
    margin: 0 8px 16px 8px;
  }
}
@media (min-width: 1200px) and (max-width: 1439px) {
  .try-them-on {
    display: flex;
    align-items: center;
  }
  .try-them-on .section-name {
    display: flex;
    align-items: left;
    width: 1124px;
  }
  .try-them-on__cards-container {
    height: 512.5px;
    width: 1140px;
  }
  .try-them-on__cards-container .try-them-on__snap-card {
    margin: 0 8px 16px 8px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .try-them-on {
    display: flex;
    align-items: center;
  }
  .try-them-on .section-name {
    display: flex;
    align-items: left;
    width: 912px;
  }
  .try-them-on__cards-container {
    height: 421.578px;
    width: 928px;
  }
  .try-them-on__cards-container .try-them-on__snap-card {
    margin: 0 8px 16px 8px;
    padding-right: 48px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .try-them-on {
    display: flex;
    align-items: center;
  }
  .try-them-on .section-name {
    display: flex;
    align-items: left;
    width: 664px;
  }
  .try-them-on__snap-card--media {
    margin: 0 0 0 38.188px;
    width: -moz-fit-content;
    width: fit-content;
    flex: 1 1 0%;
  }
  .try-them-on__snap-card--media .display-video {
    width: 100%;
  }
  .try-them-on__cards-container {
    display: flex;
    height: 457.969px;
    max-width: 672px;
    justify-content: unset;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-bottom: 24px;
  }
  .try-them-on__cards-container .try-them-on__snap-card {
    width: 100%;
    height: 457.969px;
    margin-right: 16px;
  }
  .try-them-on__cards-container .try-them-on__snap-card--media .display-video {
    width: 100%;
    height: 100%;
    display: flex;
  }
  .try-them-on__cards-container .try-them-on__snap-card--media .display-video video {
    flex-shrink: 0;
    max-width: 239.609px;
    height: 100%;
    margin: 0;
  }
  .try-them-on__cards-container .try-them-on__snap-card--media img {
    left: -22%;
  }
  .try-them-on__cards-container > :nth-child(3) {
    margin-right: 0;
  }
}
@media (min-width: 428px) and (max-width: 767px) {
  .try-them-on {
    display: flex;
    align-items: center;
  }
  .try-them-on .section-name {
    display: flex;
    align-items: left;
    width: 388;
  }
  .try-them-on__snap-card--media {
    margin: 0 0 0 22.5px;
    width: -moz-fit-content;
    width: fit-content;
    flex: 1 1 0%;
  }
  .try-them-on__snap-card--media .display-video {
    width: 100%;
  }
  .try-them-on__cards-container {
    display: flex;
    height: 237.328px;
    max-width: 388px;
    justify-content: unset;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-bottom: 24px;
  }
  .try-them-on__cards-container .try-them-on__snap-card {
    width: 100%;
    min-height: 237.328px;
    margin-right: 16px;
    padding: 16px;
  }
  .try-them-on__cards-container .try-them-on__snap-card--media {
    min-width: 115.5px;
    height: 205.328px;
  }
  .try-them-on__cards-container .try-them-on__snap-card--media .display-video {
    display: flex;
  }
  .try-them-on__cards-container .try-them-on__snap-card--media .display-video video {
    flex-shrink: 0;
    margin: 0;
  }
  .try-them-on__cards-container .try-them-on__snap-card--media img {
    left: -50%;
  }
  .try-them-on__cards-container > :nth-child(3) {
    margin-right: 0;
  }
}
@font-face {
  font-family: "TT Alientz Grotesque";
  src: url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.eot"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.woff") format("woff"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.svg#TT Alientz Grotesque") format("svg");
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #1f2028;
  font-family: "Montserrat";
}

.bottom-section {
  padding-top: 20px;
  width: 85%;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}
.bottom-section #image {
  width: 50%;
}
.bottom-section #image #image1 {
  border-radius: 30px;
  width: 100%;
}
.bottom-section #brands {
  width: 50%;
  background-color: #272932;
  border-radius: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.bottom-section #brands #awesome-people {
  padding: 15px;
  margin: 0 auto;
  display: flex;
  color: white;
  font-weight: 700;
}
.bottom-section #brands #awesome-people #awesome-people-para {
  color: white;
  font-family: "Montserrat", sans-serif;
}
.bottom-section #brands .all-brands {
  height: 75%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 17px;
}
.bottom-section #brands .all-brands .same-class {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 29%;
  background-color: #272932;
  box-shadow: 0 0 30px 7px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}
.bottom-section #brands .all-brands .same-class .same-image {
  display: flex;
  margin: 0 auto;
  width: 80%;
}
.bottom-section #brands .all-brands .same-class .same-image1 {
  display: flex;
  width: 80%;
}
.bottom-section #brands .all-brands .same-class .same-image2 {
  display: flex;
  height: 50px;
  margin: 0 auto;
}

@media screen and (max-width: 770px) {
  .bottom-section #image {
    display: none;
  }
  .bottom-section #brands {
    width: 90%;
    height: 420px;
    padding-bottom: 40px;
  }
  .bottom-section #brands .all-brands .same-class {
    width: 44%;
    height: 100px;
    border-radius: 20px;
  }
}
@media (min-width: 770px) and (max-width: 1150px) {
  .bottom-section #image {
    display: none;
  }
  .bottom-section #brands {
    width: 90%;
  }
  .bottom-section #brands .all-brands .same-class {
    width: 29%;
    height: 100px;
    border-radius: 20px;
  }
}
#videoBackGround {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 600px;
  z-index: -100;
  -o-object-fit: cover;
     object-fit: cover;
  background: linear-gradient(-135deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%, rgb(0, 0, 0) 100%);
}/*# sourceMappingURL=index.css.map */