<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../common.css">
    <link rel="stylesheet" href="./index.css">
    <link rel="stylesheet" href="../filter-button-hider/index.css">
    <link rel="stylesheet" href="../filter-button/index.css">
</head>
<body>

    <!-- INIZIO ASIDE -->
<div class="aside">

    <!-- HIDER  -->
    <div class="aside aside__section--hide ">
        <button class="button--hide">hide filter</button>
    </div>    
    <!-- FINE HIDER -->
    
    <div class="aside aside__slash"></div>

    <!-- INIZIO CAT -->
    <div class="aside aside__section">
        <div class="aside__section--text">
            <div class="aside__section--text--title">
                <span> categories </span>
                <span class="aside__section--text--title--dispaly" id="displayed"> (1) </span> 
            </div>
            <div class="aside__section--text--b">
                <button id="clear">x</button> 

            </div>
        </div>
        <div class="aside__section--button">
            <button class="button--filter"> <img src="../../Asset/image/avatarCat.png"> <span>some text</span> </button>
            <button class="button--filter"> <img src="../../Asset/image/avatarCat.png"> <span>some text</span> </button>
            <button class="button--filter"> <img src="../../Asset/image/avatarCat.png"> <span>some text</span> </button>
            <button class="button--filter"> <img src="../../Asset/image/avatarCat.png"> <span>some text</span> </button>      
        </div>
    </div>
     <!-- FINE CAT -->
     
     <div class="aside aside__slash"></div>
     
     <!-- INIZIO CREAT -->
    <div class="aside aside__section">
        <div class="aside__section--text">
            <div class="aside__section--text--title">
                <span> creators </span>
                <span class="aside__section--text--title--dispaly"  id="displayed"> (1) </span> 
            </div>
            <div class="aside__section--text--b">
                <button id="clear">x</button> 

            </div>
        </div>
        <div class="aside__section--button">
            <button class="button--filter"> <img src="../../Asset/image/avatarCat.png"> <span>some text</span> </button>
            <button class="button--filter"> <img src="../../Asset/image/avatarCat.png"> <span>some text</span> </button>
            <button class="button--filter"> <img src="../../Asset/image/avatarCat.png"> <span>some text</span> </button>
            <button class="button--filter"> <img src="../../Asset/image/avatarCat.png"> <span>some text</span> </button>
            <button class="button--filter"> <img src="https://cdn.rtfkt.com/assets/icons/arrow-down-white.svg"> </button>
      
        </div>
    </div>
    <!-- FINE CREAT -->

    <div class="aside aside__slash"></div>
    
    <!-- INIZIO FOOTER ASIDE -->
    <div class="aside aside__section">
        <span>New to NFT? Welcome! Learn how to get your hands on one by clicking here
            Or join the community:
            <a href="www.discord.gg/Rtfkt"> www.discord.gg/Rtfkt</a> </span>
    </div>


</div>

   
</body>
</html>