@import '../common.scss';


body{
    background-color: black;
}
.aside{
    color: $color-white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    width: 100%;
    max-width: 340px;
    &__section--hide{
        display: flex;
        justify-content: center;
        align-items: start;
    }
    &__slash{
        width: 95%;
        height: 1px;
        background-color: $color-gray-600;
    }
    &__section{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
        &--text{
            display:flex;
            justify-content: space-between;
            width: 100%;
            align-items: center;
            text-transform: uppercase;
            font-weight: 500;
            &--title{
                display: flex;
                gap: 4px;
                & span:last-child{
                    color: $color-gray-600;
                    font-weight: 500;
                    
                }
            }
            &--b>button{
                background-color: transparent;
                border: none;
                color: $color-white;
                font-size: 18px;
                font-weight: 700;
            }
            &--b>button:hover{
                cursor: pointer;
            }
        }
       
        &--button{
            display: flex;
            flex-wrap: wrap;
            gap: 8px;
        }
    }
}