@import '../common.scss';
body{
    background-color: black;
}

.button--filter{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-radius: 1.5rem;
    border: 1px solid $color-gray-400;
    color: $color-white;
    padding: 7px 15px;
    font-family: $primary-font;
    font-size: 12px;
    font-weight: 600;
    text-transform: capitalize;
    max-height: 40px;
    gap: 8px;
    line-height: 1rem;
    &>img{
        display: block;
        width: 1.5rem;
        border-radius: 50%;
    }
    &:hover{
        background-color: $color-white;
        color: $color-black;
        cursor: pointer;
    }
}