@import '../common.scss';
@import '../navbar/index.scss';
@import '../banner-Drops-Archive/banner.scss';
@import '../filter-button-hider/index.scss';
@import '../filter-button/index.scss';
@import '../filter-menu/index.scss';
@import '../shop-card/index.scss';
@import '../footer/style.scss';


.main-section-secondPage {
    max-width: 1450px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap:1.5rem;
    padding-top: 2rem;
    & .card{
        display: flex;
        flex-wrap: wrap;
        gap:15px;

    }
  
}

@media only screen and (max-width: 991px) {
    body .section {
      max-width: 668px;
      margin: 0 auto;
      &__shop {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
  
  .section__shop {
    width: 1350px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    &__header{
      display: flex;
      align-items: center;
      margin: 0 auto;
      width: 100%;
      padding-bottom: 25px;
      &--show{
        display: none;
      }
      &--search{
        margin-left: auto;
        width: 80%;
        position: relative;

        & input{
            padding: 10px;
            border-radius: 2rem;
            position: absolute;
            right: -60px;
            bottom: -18px;
            width: 100%;
            transform: scale(0);
            opacity: 0;
        }
        & button{
            border: 1px solid $color-white;
            background-color: $color-gray-700;
            border-radius: 50%;
            padding: 8px;
            position: absolute;
            right: -58px;
            top: -18px;
        }
      }
      &--layout{
        margin-left: auto;
        border:  1px solid $color-gray-500;
        border-radius: 2rem;
        & button{
          padding: 5px;
          transform: scale(1.2);
          border-radius: 50%;
          border: none;
          & img{
            width: 20px;
          }

        }

      }
    }
    &__main {
      display: flex;
      flex-wrap: wrap;
      gap:10px;
      &__card {
        background-color: $color-gray-700;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 20px;
        color: $color-gray-200;
        border-radius: 1rem;
        flex: 1 0 30%;
        &-title {
          width: 95%;
          margin: 0 auto;
          display: flex;
          gap: 10px;
          font-weight: 700;
          align-items: center;
          padding-top: 10px;
          & img {
            width: 30px;
            border-radius: 50%;
          }
        }
        &-vid {
          width: 95%;
          margin-inline: auto;
          video {
            width: 100%;
            border-radius: 1rem;
            &:hover {
              cursor: pointer;
              -webkit-box-shadow: 0px 0px 20px 38px #0b325e;
              box-shadow: 0px 0px 80px 1px #0b325e;
            }
          }
        }
        &-footer {
          width: 95%;
          margin: 0 auto;
          padding-bottom: 40px;
          font-weight: 600;
          &-description {
            font-size: 0.8rem;
            color: $color-gray-500;
          }
        }
      }
    }
    &> button{
      background-color: transparent;
      border: 1px solid $color-gray-600;
      margin: 0 auto;
      text-transform: uppercase;
      width: 100%;
      max-width: 555px;
      padding: 10px;
      border-radius: 1rem;
      color: white;
      font-weight: 600;
      &:hover{
          background-color: $color-white;
          color: black;
      }
  }
  }
  