<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RTFKT | Discord Banner</title>
    <link rel="stylesheet" href="discord-banner.css">
</head>
<body>

    <div class="discord-banner-section">
        <div class="discord-banner-section--conteriner">
            <div class="discord-banner-section--conteriner--left">
                <div class="discord-banner-section--conteriner--left--text">
                <h2> Join <span> our discord</span> and participate in the next RTFKT <span> creator contest.</span></h2>
                </div>
                <a href="#" type="button" class="discord-button"><button class="discord-button1">JOIN US ON DISCORD</button></a>
            </div>

            <div class="discord-banner-section--conteiner--right">
                <p> LAST CHALLENGE WINNERS </p>

                <div class="discord-banner-winners">
                    <div class="discord-banner-winners-first">
                        "1"
                    </div>
                    <div class="discord-banner-winners-first-info">
                        <img src="../../Asset/image/blank-profile.jpg">
                        <div class="discord-banner-winners-first-info-tag"
                        <span> WINNER</span>
                        <span> @Vini</span>
                    </div>

                    <div class="discord-banner-winners-second">
                        "2"
                    </div>
                    <div class="discord-banner-winners-second-info">
                        <img src="../../Asset/image/blank-profile.jpg">
                        <div class="discord-banner-winners-second-info-tag">
                        <span> @Tosco_E</span>
                    </div>
                    
                    <div class="discord-banner-winners-third">
                        "3"
                    </div>
                    <div class="discord-banner-winners-third-info">
                        <img src="../../Asset/image/blank-profile.jpg">
                        <div class="discord-banner-winners-third-info-tag">
                        <span> @JsFrederik</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>