<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RTFKT | Discord Banner</title>
    <link rel="stylesheet" href="discord-banner.css" />
  </head>
  <body>
    <div class="discord-banner-section">
      <div class="discord-banner-section--conteriner">
        <!-- Parte sinistra -->
        <div class="discord-banner-section--conteriner--left">
          <div class="discord-banner-section--conteriner--left--text">
            <h2>
              Join <span> our discord</span> and participate in the next RTFKT
              <span> creator contest.</span>
            </h2>
          </div>
          <a
            href="https://discord.com/invite/rtfkt"
            type="button"
            class="discord-button"
            ><button class="discord-button1">JOIN US ON DISCORD</button></a
          >
        </div>
        <!-- 
            Parte Centrale -->
        <div class="discord-banner-center">
          <div class="discord-banner-center-image">
            <img
              src="../../Asset/image/creator1.png"
              alt="primo-creator"
              class="creator"
            />
          </div>
        </div>

        <!-- Parte Destra -->
        <div class="discord-banner-section--conteiner--right">
          <p>LAST CHALLENGE WINNERS</p>
          <div class="discord-banner-winners">
            <div class="discord-banner-winners-first">
              <span class="discord-winners-number"> 1st </span>
              <img src="../../Asset/image/blank-profile.jpg" class="logo" />
              <div class="discord-banner-winners-firs-info-tag">
                <span> WINNER </span>
                <span> @Vini </span>
              </div>
            </div>
          </div>

          <div class="discord-banner-winners">
            <div class="discord-banner-winners-second">
              <span class="discord-winners-number"> 2st </span>
              <img src="../../Asset/image/blank-profile.jpg" class="logo" />
              <div class="discord-banner-winners-firs-info-tag">
                <span> @Tosco_E </span>
              </div>
            </div>
          </div>

          <div class="discord-banner-winners">
            <div class="discord-banner-winners-third">
              <span class="discord-winners-number"> 3st </span>
              <img src="../../Asset/image/blank-profile.jpg" class="logo" />
              <div class="discord-banner-winners-firs-info-tag">
                <span> @JstFredrik </span>
              </div>
            </div>
          </div>

          <button class="disable">DISCOVER NOW</button>
        </div>
      </div>
    </div>
  </body>
</html>
