@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("//db.onlinewebfonts.com/c/ebaf90e665954316d40b79a1c7c942c0?family=TT+Alientz+Grotesque");
@font-face {
  font-family: "TT Alientz Grotesque";
  src: url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.eot"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.woff") format("woff"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.svg#TT Alientz Grotesque") format("svg");
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #1f2028;
  font-family: "Montserrat";
}

body {
  background-color: #1f2028;
}

.discord-banner-section {
  margin: 0 auto;
  border-radius: 15px;
  background-image: linear-gradient(to right, transparent, rgb(39, 41, 50) 68%), url(../../Asset/image/Grid2x.png);
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.3);
  background-size: cover;
  max-width: 1380px;
  margin-top: 2rem;
}

.discord-banner-section--conteriner {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 15px;
  max-height: 100%;
  padding: 2rem;
}
.discord-banner-section--conteriner .discord-banner-section--conteriner--left {
  display: flex;
  flex-direction: column;
  width: 30%;
  justify-content: center;
  gap: 2rem;
  padding: 1.7rem 0.5rem;
  padding-left: 1rem;
}
.discord-banner-section--conteriner .discord-banner-section--conteriner--left .discord-button1 {
  border-radius: 1rem;
  padding: 15px;
  border: none;
  font-weight: bold;
  width: 52%;
  letter-spacing: 0.5px;
}
.discord-banner-section--conteriner .discord-banner-section--conteriner--left .discord-button1:hover {
  cursor: pointer;
}
.discord-banner-section--conteriner .discord-banner-section--conteriner--left .discord-banner-section--conteriner--left--text {
  display: flex;
  text-align: flex-start;
}
.discord-banner-section--conteriner .discord-banner-section--conteriner--left .discord-banner-section--conteriner--left--text h2 {
  font-size: 33px;
  font-weight: 500;
  margin: 0 auto;
  padding-top: 0.5rem;
  color: white;
}
.discord-banner-section--conteriner .discord-banner-section--conteriner--left .discord-banner-section--conteriner--left--text span {
  font-family: "TT Alientz Grotesque";
  color: white;
}
.discord-banner-section--conteriner .discord-banner-center {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 27%;
  position: relative;
  padding-bottom: 5rem;
}
.discord-banner-section--conteriner .discord-banner-center .discord-banner-center-image {
  display: flex;
  text-align: center;
  width: 100%;
  position: absolute;
  left: 4rem;
  top: -0.5rem;
}
.discord-banner-section--conteriner .creator {
  width: 60%;
  background: radial-gradient(#5733f5, transparent 65%);
}
.discord-banner-section--conteriner .creator:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.discord-banner-section--conteriner .discord-banner-section--conteiner--right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding-right: 1rem;
  padding-top: 1.3rem;
  width: 30%;
}
.discord-banner-section--conteriner .discord-banner-section--conteiner--right > p {
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 12px;
  margin: 0;
  color: white;
}
.discord-banner-section--conteriner .discord-banner-section--conteiner--right discord-banner-winner {
  display: block;
  padding-right: 2px;
}
.discord-banner-section--conteriner .discord-banner-section--conteiner--right .disable {
  display: none;
}
.discord-banner-section--conteriner .discord-banner-section--conteiner--right .discord-banner-winners-first {
  display: flex;
  gap: 10px;
  align-items: center;
  background: linear-gradient(100deg, rgb(102, 88, 53) 20%, rgb(39, 41, 50) 100%);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1490196078);
  border: 0.5px;
  border-radius: 25px;
  width: 100%;
  padding: 5px;
}
.discord-banner-section--conteriner .discord-banner-section--conteiner--right .discord-banner-winners-first .discord-winners-number {
  background-color: rgb(245, 206, 108);
  padding: 11px;
  border-radius: 19px;
  font-family: "TT Alientz Grotesque";
  font-size: 25px;
}
.discord-banner-section--conteriner .discord-banner-section--conteiner--right .logo {
  width: 10%;
  border-radius: 50%;
}
.discord-banner-section--conteriner .discord-banner-section--conteiner--right .discord-banner-winners-firs-info-tag {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.discord-banner-section--conteriner .discord-banner-section--conteiner--right .discord-banner-winners-second {
  display: flex;
  gap: 10px;
  align-items: center;
  background: linear-gradient(90deg, rgb(70, 70, 93) 0%, rgb(39, 41, 50) 100%);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1490196078);
  border: 0.5px;
  border-radius: 25px;
  width: 100%;
  padding: 5px;
}
.discord-banner-section--conteriner .discord-banner-section--conteiner--right .discord-banner-winners-second .discord-winners-number {
  background-color: #a3a2aa;
  padding: 11px;
  border-radius: 19px;
  font-family: "TT Alientz Grotesque";
  font-size: 25px;
}
.discord-banner-section--conteriner .discord-banner-section--conteiner--right .logo {
  width: 10%;
  border-radius: 50%;
}
.discord-banner-section--conteriner .discord-banner-section--conteiner--right .discord-banner-winners-firs-info-tag {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.discord-banner-section--conteriner .discord-banner-section--conteiner--right span {
  color: white;
}
.discord-banner-section--conteriner .discord-banner-winners-third {
  display: flex;
  gap: 10px;
  align-items: center;
  background: linear-gradient(90deg, rgb(57, 42, 29) 0%, rgb(40, 40, 52) 100%);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1490196078);
  border: 0.5px;
  border-radius: 25px;
  width: 100%;
  padding: 5px;
}
.discord-banner-section--conteriner .discord-banner-winners-third .discord-winners-number {
  background-color: #a27c59;
  padding: 11px;
  border-radius: 19px;
  font-family: "TT Alientz Grotesque";
  font-size: 25px;
}
.discord-banner-section--conteriner .logo {
  width: 10%;
  border-radius: 50%;
}
.discord-banner-section--conteriner .discord-banner-winners-firs-info-tag {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media screen and (max-width: 1000px) {
  .discord-banner-section {
    max-width: 688px;
    background-image: linear-gradient(to bottom, transparent, rgb(39, 41, 50) 68%), url(../../Asset/image/Grid2x.png);
  }
  .discord-banner-section--conteriner {
    display: block;
    flex-direction: column;
    margin: 0 auto;
    max-height: 780px;
  }
  .discord-banner-section--conteriner .discord-banner-section--conteriner--left {
    display: block;
    flex-direction: column;
    width: 100%;
    padding: 0;
  }
  .discord-banner-section--conteriner .discord-banner-section--conteriner--left .discord-button1 {
    display: none;
  }
  .discord-banner-section--conteriner .discord-banner-center {
    max-width: 550px;
    max-height: 353px;
    height: 100%;
    width: 100%;
    padding: 0;
  }
  .discord-banner-section--conteriner .discord-banner-center-image {
    padding: 0;
    justify-content: center;
    margin: 0 auto;
  }
  .discord-banner-section--conteriner .discord-banner-center-image .creator {
    width: 35%;
    position: absolute;
    top: 50px;
    left: 147px;
  }
  .discord-banner-section--conteriner .discord-banner-section--conteiner--right {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .discord-banner-section--conteriner .discord-banner-section--conteiner--right > p {
    letter-spacing: 0.5px;
  }
  .discord-banner-section--conteriner .discord-banner-section--conteiner--right .discord-banner-winners-first {
    width: 100%;
  }
  .discord-banner-section--conteriner .discord-banner-section--conteiner--right .discord-banner-winners-first .logo {
    width: 10%;
  }
  .discord-banner-section--conteriner .discord-banner-section--conteiner--right .disable {
    display: flex;
    justify-content: center;
    padding: 15px;
    border-radius: 15px;
    border: none;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0.5px;
  }
}/*# sourceMappingURL=discord-banner.css.map */