@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("//db.onlinewebfonts.com/c/ebaf90e665954316d40b79a1c7c942c0?family=TT+Alientz+Grotesque");
@font-face {
  font-family: "TT Alientz Grotesque";
  src: url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.eot"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.woff") format("woff"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.svg#TT Alientz Grotesque") format("svg");
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

body {
  background-color: #1f2028;
}

.try-them-on {
  display: flex;
  flex-direction: column;
  padding: 0 24px;
}
.try-them-on .section-name {
  display: flex;
  color: white;
}
.try-them-on .section-name h2 {
  font-size: 1rem;
  margin: 0 0 2rem 0;
}
.try-them-on__cards-container {
  display: flex;
  justify-content: center;
}
.try-them-on__cards-container .try-them-on__snap-card {
  display: flex;
  width: 100%;
  border-radius: 1rem;
  padding: 1rem;
  height: 100%;
  box-sizing: border-box;
  background-color: #272932;
}
.try-them-on__cards-container .try-them-on__snap-card--title {
  display: flex;
}
.try-them-on__cards-container .try-them-on__snap-card--title a {
  color: white;
  text-decoration: none;
  font-size: 0.75rem;
  font-weight: 600;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}
.try-them-on__cards-container .try-them-on__snap-card--media {
  position: relative;
}
.try-them-on__cards-container .try-them-on__snap-card--media .display-video {
  display: flex;
  height: 100%;
}
.try-them-on__cards-container .try-them-on__snap-card--media .display-video video {
  border-radius: 1rem;
  max-width: 100%;
  cursor: pointer;
  object-fit: cover;
  margin: 0 0 0 15%;
}
.try-them-on__cards-container .try-them-on__snap-card--media img {
  display: flex;
  position: absolute;
  top: calc(50% - 1rem - 57px);
  left: -1.25rem;
  vertical-align: middle;
  height: 114px;
  width: 114px;
  cursor: pointer;
}

@media screen and (min-width: 1440px) {
  .try-them-on {
    display: flex;
    align-items: center;
  }
  .try-them-on .section-name {
    display: flex;
    align-items: left;
    width: 1424px;
  }
  .try-them-on__cards-container {
    width: 1440px;
    height: 663.359px;
  }
  .try-them-on__cards-container .try-them-on__snap-card {
    margin: 0 8px 16px 8px;
  }
}
@media (min-width: 1200px) and (max-width: 1439px) {
  .try-them-on {
    display: flex;
    align-items: center;
  }
  .try-them-on .section-name {
    display: flex;
    align-items: left;
    width: 1124px;
  }
  .try-them-on__cards-container {
    height: 512.5px;
    width: 1140px;
  }
  .try-them-on__cards-container .try-them-on__snap-card {
    margin: 0 8px 16px 8px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .try-them-on {
    display: flex;
    align-items: center;
  }
  .try-them-on .section-name {
    display: flex;
    align-items: left;
    width: 912px;
  }
  .try-them-on__cards-container {
    height: 421.578px;
    width: 928px;
  }
  .try-them-on__cards-container .try-them-on__snap-card {
    margin: 0 8px 16px 8px;
    padding-right: 48px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .try-them-on {
    display: flex;
    align-items: center;
  }
  .try-them-on .section-name {
    display: flex;
    align-items: left;
    width: 672px;
  }
  .try-them-on__cards-container {
    display: flex;
    height: 457.969px;
    width: 672px;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-bottom: 24px;
  }
  .try-them-on__cards-container .try-them-on__snap-card {
    width: 312px;
    height: 457.969px;
    margin-right: 16px;
  }
  .try-them-on__cards-container .try-them-on__snap-card--media .display-video {
    display: flex;
  }
  .try-them-on__cards-container .try-them-on__snap-card--media .display-video video {
    width: 239.609;
    height: 457.969px;
  }
}
@media (min-width: 428px) and (max-width: 767px) {
  .try-them-on {
    max-width: 428px;
    width: 100%;
  }
  .try-them-on__cards-container {
    max-height: 512.5px;
    width: 100%;
  }
  .try-them-on__snap-card {
    margin: 0 8px 16px 8px;
  }
}

/*# sourceMappingURL=index.css.map */
