<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../common.css" />
    <link rel="stylesheet" href="./index.css" />
  </head>
  <body>
    <div class="try-them-on">
      <div class="section-name">
        <h2>TRY THEM ON</h2>
      </div>
      <div class="try-them-on__cards-container">
        <div class="try-them-on__snap-card">
          <div class="try-them-on__snap-card--title">
            <a href="#"> Fewo x Rtfkt EPIC </a>
          </div>
          <div class="try-them-on__snap-card--media">
            <div class="display-video">
              <video autoplay loop muted>
                <source src="../../Asset/Video/VideoSnapchat1.mp4" />
              </video>
            </div>
            <img src="../../Asset/image/snapcode-shoeViolet.svg" alt="" />
          </div>
        </div>
        <div class="try-them-on__snap-card">
          <div class="try-them-on__snap-card--title">
            <a href="#"> Meta Pidgeon - Jeff Staple </a>
          </div>
          <div class="try-them-on__snap-card--media">
            <div class="display-video">
              <video autoplay loop muted>
                <source src="../../Asset/Video/VideoSnapchat2.mp4" />
              </video>
            </div>
            <img src="../../Asset/image/snapcode-pidgeon.svg" alt="" />
          </div>
        </div>
        <div class="try-them-on__snap-card">
          <div class="try-them-on__snap-card--title">
            <a href="#"> Dunk Genesis </a>
          </div>
          <div class="try-them-on__snap-card--media">
            <div class="display-video">
              <video autoplay loop muted>
                <source src="../../Asset/Video/VideoSnapchat3.mp4" />
              </video>
            </div>
            <img src="../../Asset/image/snapcode-shoeLightBlue.svg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
