<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="private-mint-checker.css">
</head>
<body>

<section>
    <h2> PRIVATE MINT CHECKER </h2>
    <div class="container">
        <div class="card">
            <img src="../../Asset/image/forgive_event.png" alt="forgive_event_pic" class="forgive-img">
            <div class="text-right">
                <h2> Plan on getting your hands on a RTFKT NFT? </h2>
                <p> Before copping a RTFKT NFT that can unlock other NFTs or a forging event, check here first to make sure it's still eligible and hasn't already been claimed or forged. Keep in mind the status may change between the time of checking and buying.</p>

               
                <input class="input" placeholder="Paste the NFT OpenSea link here"> 
                <button class="check-it"> CHECK IT NOW </button>

            </div>
        </div>
    </div>
</section>  
</body>
</html>