@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("//db.onlinewebfonts.com/c/ebaf90e665954316d40b79a1c7c942c0?family=TT+Alientz+Grotesque");
@font-face {
  font-family: "TT Alientz Grotesque";
  src: url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.eot"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.woff") format("woff"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/ebaf90e665954316d40b79a1c7c942c0.svg#TT Alientz Grotesque") format("svg");
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1f2028;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  width: 1310px;
  height: 450px;
  max-height: 100%;
  margin: 0 auto;
}
section > h2 {
  font-family: "Montserrat";
  margin-left: 2.9rem;
  color: #dee2e6;
  font-size: 1rem;
}

.container {
  display: inline-flex;
  /* flex-direction: column; */
  max-width: 100%;
  width: 100%;
  margin-left: 3rem;
  margin-right: 3rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1490196078);
  border-radius: 1.5rem;
  height: 100%;
}

.card {
  display: inline-flex;
  flex-direction: row;
  background-color: #272932;
  border-radius: 1.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1490196078);
}
.card .img {
  width: 60%;
  height: 100%;
  display: block;
  position: relative;
}
.card .forgive-img {
  border-radius: 1.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1490196078);
  max-width: 100%;
  height: 100%;
  position: relative;
}
.card .text-right {
  padding: 1rem 1.5rem;
  width: 25%;
  height: 93%;
  display: block;
  margin-top: 2rem;
  margin: 1rem 6rem;
}
.card .text-right > h2 {
  color: #e9ecef;
  font-family: "Montserrat";
  font-size: 22px;
  margin-bottom: 1rem;
}
.card .text-right p {
  color: #b5b5b8;
  font-family: "Montserrat";
  font-size: 15px;
  margin-bottom: 3rem;
}
.card .footer {
  display: flex;
  flex-direction: column;
}
.card .footer > .input {
  width: 100%;
  height: 100%;
  max-height: 45px;
  padding: 13px 1rem;
  background: transparent;
  outline: none;
  border: 0.5px solid #dee2e6;
  border-radius: 16px;
  color: white;
  font-size: 12px;
  font-family: Montserrat, serif;
  margin-bottom: 1rem;
}
.card .footer > .input:focus {
  border: 0.5px solid #5733f5;
}
.card .footer > .check-it {
  background-color: white;
  font-family: "Montserrat";
  font-weight: bold;
  border-radius: 15px;
  padding: 14px;
  width: 55%;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.5px;
}
.card .footer > .check-it:hover {
  cursor: pointer;
  background-color: #dee2e6;
}

@media screen and (max-width: 992px) {
  section {
    max-width: 688px;
    max-height: 670px;
  }
  .container {
    width: 100%;
    max-height: 100%;
    height: 300px;
    display: block;
    flex-direction: row;
  }
  .card {
    display: block;
    width: 100%;
  }
  .card .img {
    display: block;
    width: 100%;
    height: 120%;
  }
  .card .img > .forgive-img {
    width: 100%;
  }
  .card .text-right {
    width: 95%;
    margin: 0;
    padding: 1rem;
  }
  .card .text-right > p {
    margin-bottom: 1rem;
  }
  .card .text-right > .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .card .text-right > .footer > .input {
    width: 100%;
    padding: 17px 1rem;
    font-size: 15px;
  }
  .card .text-right > .footer > .check-it {
    width: 100%;
    padding: 14px;
    font-size: 15px;
  }
}/*# sourceMappingURL=private-mint-checker.css.map */