@import '../common.scss';

.button--hide{
    background-color: transparent;
    white-space: nowrap;
    border-radius: 1.5rem;
    border: 1px solid $color-gray-400;
    color: $color-white;
    padding: 7px 15px;
    font-family: $primary-font;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    &:hover{
        background-color: $color-white;
        color: $color-black;
        cursor: pointer;
    }
}