@import '../common.scss';

.main__section__left__buttons--darker{
    font-family: $primary-font;
    font-weight: 800;
    text-transform: uppercase;
    background-color: $color-primary;
    color: $color-white;
    border: none;
    border-radius: 12px;
    padding:  0.95rem 1.25rem;
    margin-top: 1rem ;
    margin-right: 1rem;
    &:hover{
        background-color: $color-violet;
        cursor: pointer;
    }
}

.main__section__left__buttons--lighter{
    @extend .main__section__left__buttons--darker;
    background-color: transparent;
    border: 1px solid $color-gray-600;
    color: $color-white;
    &:hover{
        color: black;
        background-color: $color-white;
        border-color: $color-white;
    }
}