$font-primary: 'Montserrat', sans-serif;
$color-black:black;
$color-white:white;
$color-primary:#5733f5;
$color-secondary:#6c757d;
$color-blue: #004acb;
$color-indigo:#6610f2;
$color-violet:#5733f5;
$color-violet-light:#6847f6;
$color-pink:#d63384;
$color-red: #ff3500;
$color-orange:#fd7e14;
$color-yellow: #ffc107;
$color-green: #1cf463;
$color-teal:#20c997;
$color-cyan: #0dcaf0;
$color-grey-dark:#1c1d23;
$color-gray-100: #f8f9fa;
$color-gray-200: #e9ecef;
$color-gray-300: #dee2e6;
$color-gray-400: #ced4da;
$color-gray-500: #b5b5b8;
$color-gray-600: #6c757d;
$color-gray-700:#272932;
$color-gray-800: #1f2028;
$color-gray-900:#1c1d23;
$color-success:#1cf463;
$color-info: #0dcaf0;
$color-warning: #ffc107;
$color-danger: #ff3500;
$color-light: #f8f9fa;
$color-rare: #fd9a13;
$color-epic: #ff28db;
$color-legendary: #b356ff;



body {
    margin:0;
    padding:0;
    box-sizing: border-box;
}